<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vamos a volver</title>
    <link rel="stylesheet" href="/assets/css/site.css">
</head>
<body>

    <header class="volver__banner-principal">
        <h2 class="limit volver__banner-principal__titulo">
            <img class="volver__banner-principal__titulo__logo-1" src="/assets/images/vamosavolver/promperu.png" alt="">
            <strong class="volver__banner-principal__titulo__strong">Nos estamos preparando</strong>
            <img class="volver__banner-principal__titulo__logo-2" src="/assets/images/vamosavolver/ytqp-volver.png" alt="">
        </h2>
        <video class="volver__banner-principal__video" autoplay loop muted class="hero-module__video___3fS2p" src="/assets/videos/paisajes-del-peru.mp4"></video>
    </header>

   @*  <!-- <section class="volver__seccion volver__medidas__blog">
        <div class="limit">
            <h3 class="volver__titulo">Conoce las nuevas medidas que de están implementando para cuando volcamos a viajar</h3>
            <div class="volver__medidas__blog__articulos">
                <article class="volver__medidas__blog__articulo m--mini">
                    <span class="volver__medidas__blog__etiqueta">Nuevo</span>
                    <figure class="volver__medidas__blog__image">
                        <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                    </figure>
                    <div class="volver__medidas__blog__contenido">
                        <header><h2 class="volver__medidas__blog__titulo">Norma sanitaria para restaurantes</h2></header>
                        <time class="volver__medidas__blog__fecha">13 de mayo, 2020</time>
                        <p class="volver__medidas__blog__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….</p>
                        <a href="" class="volver__link-rojo">Leer más</a>
                    </div>
                </article>
                <article class="volver__medidas__blog__articulo m--mini">
                    <span class="volver__medidas__blog__etiqueta">Nuevo</span>
                    <figure class="volver__medidas__blog__image">
                        <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                    </figure>
                    <div class="volver__medidas__blog__contenido">
                        <header><h2 class="volver__medidas__blog__titulo">Norma sanitaria para restaurantes</h2></header>
                        <time class="volver__medidas__blog__fecha">13 de mayo, 2020</time>
                        <p class="volver__medidas__blog__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….</p>
                        <a href="" class="volver__link-rojo">Leer más</a>
                    </div>
                </article>
                <article class="volver__medidas__blog__articulo">
                    <span class="volver__medidas__blog__etiqueta">Nuevo</span>
                    <figure class="volver__medidas__blog__image">
                        <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                    </figure>
                    <div class="volver__medidas__blog__contenido">
                        <header><h2 class="volver__medidas__blog__titulo">Norma sanitaria para restaurantes</h2></header>
                        <time class="volver__medidas__blog__fecha">13 de mayo, 2020</time>
                        <p class="volver__medidas__blog__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….</p>
                        <a href="" class="volver__link-rojo">Leer más</a>
                    </div>
                </article>
                <article class="volver__medidas__blog__articulo">
                    <figure class="volver__medidas__blog__image">
                        <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                    </figure>
                    <div class="volver__medidas__blog__contenido">
                        <header><h2 class="volver__medidas__blog__titulo">Norma sanitaria para restaurantes</h2></header>
                        <time class="volver__medidas__blog__fecha">13 de mayo, 2020</time>
                        <p class="volver__medidas__blog__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….</p>
                        <a href="" class="volver__link-rojo">Leer más</a>
                    </div>
                </article>
                <article class="volver__medidas__blog__articulo">
                    <figure class="volver__medidas__blog__image">
                        <img src="/assets/images/rutas-cortas-1.jpg" alt="">
                    </figure>
                    <div class="volver__medidas__blog__contenido">
                        <header><h2 class="volver__medidas__blog__titulo">Norma sanitaria para restaurantes</h2></header>
                        <time class="volver__medidas__blog__fecha">13 de mayo, 2020</time>
                        <p class="volver__medidas__blog__texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua….</p>
                        <a href="" class="volver__link-rojo">Leer más</a>
                    </div>
                </article>
            </div>
            <div class="boton-contenedor">
                <a href="#" class="boton m--verde m--grande m--235">
                    <strong>Ver todas las notas</strong>
                </a>
            </div>
        </div>
    </section> --> *@

    <section class="volver__seccion volver__medidas__blog">
        <div class="limit">
            <h5 class="volver__titulo">Conoce las nuevas medidas que se están implementando para cuando volvamos a viajar</h5>
            <div class="volver__medidas__blog__iconos">
                <a href="#" class="volver__medidas__blog__icono m--morado fnToggleClass" data-targets="#box-alojamientos">
                    <img src="/assets/images/vamosavolver/alojamientos.svg" alt="">
                    Alojamientos
                </a>
                <div id="box-alojamientos" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#box-alojamientos">
                            <h4 href="#" class="volver__box__titulo m--morado">
                                <img src="/assets/images/vamosavolver/alojamientos.svg" alt="">
                                Alojamientos
                            </h4>
                            <strong class="volver__box__subtitulo">¿Qué debo hacer si me quiero hospedar en los hoteles o albergues del Perú?</strong>
                            <p class="volver__box__resumen">Desde las grandes cadenas hoteleras hasta los pequeños albergues, todos deben cumplir los protocolos dispuestos por el Gobierno, para poder brindar un servicio seguro a sus clientes, quienes deberán usar correctamente sus mascarillas y cumplir con las demás normas de bioseguridad, como la desinfección de los equipajes al ingreso del alojamiento. También se recomienda que eviten tocar barandas, adornos, flores o apoyarte sobre las paredes para prevenir el contagio del COVID-19.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://bit.ly/2Gs4uOS" target="_blank">https://bit.ly/2Gs4uOS</a><br>
                                    <a href="https://bit.ly/2SoiR9H" target="_blank">https://bit.ly/2SoiR9H</a><br>
                                    <a href="https://bit.ly/3ioowXN" target="_blank">https://bit.ly/3ioowXN</a><br>
                                    <a href="http://consultasenlinea.mincetur.gob.pe/ManualReanudacionActividades-Registro-V02.pdf" target="_blank">http://consultasenlinea.mincetur.gob.pe/ManualReanudacionActividades-Registro-V02.pdf</a><br>
                                    <a href="https://www.youtube.com/watch?v=ba-bwQcE6h4" target="_blank">https://www.youtube.com/watch?v=ba-bwQcE6h4</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/info-alojamientos-bioseguridad.jpg" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--celeste fnToggleClass" data-targets="#box-museos">
                    <img src="/assets/images/vamosavolver/museos.svg" alt="">
                    Museos y monumentos arqueológicos
                </a>
                <div id="box-museos" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#box-museos">
                            <h4 href="#" class="volver__box__titulo m--celeste">
                                <img src="/assets/images/vamosavolver/museos.svg" alt="">
                                Museos y monumentos arqueológicos
                            </h4>
                            <strong class="volver__box__subtitulo">De vuelta a los museos y centros arqueológicos</strong>
                            <p class="volver__box__resumen">El inicio de las actividades y visitas en los museos y atractivos arqueológicos depende bastante del compromiso de las personas, quienes deberán disfrutar de la experiencia cultural sin poner en riesgo su seguridad y la de los demás. Además, en estos lugares el aforo se reducirá hasta en un 50 % de la capacidad establecida. En los museos se priorizarán las reservas previa cita y las formas de pago virtuales, después del 15 de noviembre. El Ministerio de Comercio Exterior y Turismo recomienda a las personas, abstenerse de realizar visitas en caso presenten alguna sintomatología del COVID-19.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://bit.ly/36qF8vA" target="_blank">https://bit.ly/36qF8vA</a><br>
                                    <a href="https://bit.ly/33lFqCa" target="_blank">https://bit.ly/33lFqCa</a><br>
                                    <a href="https://busquedas.elperuano.pe/normaslegales/decreto-legislativo-que-dispone-el-acceso-gratuito-temporal-decreto-legislativo-n-1507-1866220-8/" target="_blank">https://busquedas.elperuano.pe/normaslegales/decreto-legislativo-que-dispone-el-acceso-gratuito-temporal-decreto-legislativo-n-1507-1866220-8/</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/infografia_museos.png" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--verde fnToggleClass" data-targets="#areas-naturales">
                    <img src="/assets/images/vamosavolver/areas-naturales.svg" alt="">
                    Áreas naturales protegidas
                </a>
                <div id="areas-naturales" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#areas-naturales">
                            <h4 href="#" class="volver__box__titulo m--verde">
                                <img src="/assets/images/vamosavolver/areas-naturales.svg" alt="">
                                Áreas naturales protegidas
                            </h4>
                            <strong class="volver__box__subtitulo">Visita las áreas naturales protegidas con responsabilidad</strong>
                            <p class="volver__box__resumen">Demuestra que te importa la naturaleza acudiendo a estos lugares cumpliendo todas las medidas de seguridad, que se indican en el protocolo sanitario elaborado por el Gobierno. No olvides que queda restringido el contacto directo con la fauna silvestre. Asimismo, los visitantes y prestadores de servicios turísticos deberán presentar su declaración jurada de salud, previo al control de boletos.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://bit.ly/34nQnlS" target="_blank">https://bit.ly/34nQnlS</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/info-areas-naturales-protegidas.jpg" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--azul fnToggleClass" data-targets="#viajes-aereos">
                    <img src="/assets/images/vamosavolver/aereo.svg" alt="">
                    Viajes aéreos
                </a>
                <div id="viajes-aereos" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#viajes-aereos">
                            <h4 href="#" class="volver__box__titulo m--azul">
                                <img src="/assets/images/vamosavolver/aereo.svg" alt="">
                                Viajes aéreos
                            </h4>
                            <strong class="volver__box__subtitulo">De nuevo por los aires del Perú</strong>
                            <p class="volver__box__resumen">A cumplir los lineamientos de transporte aéreo de pasajeros para la prevención del COVID-19. Gestiona tu check in de manera online y opta por el boarding pass digital, también presenta tu declaración jurada de salud y no olvides usar mascarilla y protector facial en todo momento. No olvides presentarte a tiempo en el aeropuerto, llega con dos horas de anticipación antes de tu vuelo. Además, ten en cuenta que los menores de 14 años deben viajar por lo menos con uno de sus padres o su tutor debidamente acreditado.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://www.gob.pe/institucion/mtc/noticias/206498-conozca-los-lineamientos-de-transporte-aereo-de-pasajeros-para-la-prevencion-del-covid-19-publicado-por-el-mtc" target="_blank">https://www.gob.pe/institucion/mtc/noticias/206498-conozca-los-lineamientos-de-transporte-aereo-de-pasajeros-para-la-prevencion-del-covid-19-publicado-por-el-mtc</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/infografia_viajes-aereos.png" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--rojo fnToggleClass" data-targets="#restaurantes">
                    <img src="/assets/images/vamosavolver/restaurantes.svg" alt="">
                    Restaurantes
                </a>
                <div id="restaurantes" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#restaurantes">
                            <h4 href="#" class="volver__box__titulo m--rojo">
                                <img src="/assets/images/vamosavolver/restaurantes.svg" alt="">
                                Restaurantes
                            </h4>
                            <strong class="volver__box__subtitulo">Un buen provecho en los restaurantes</strong>
                            <p class="volver__box__resumen">Otra vez tenemos la oportunidad de poder ir al restaurante que más nos gusta, pero debemos tener en cuenta que estos locales solo atenderán hasta el 50 % de su aforo. Debes ingresar con mascarilla y solo está permitido que te la retires para comer, posterior a ello debes volver a colocártela. También existe una normativa que les permite a los establecimientos gastronómicos usar el sistema de reparto a domicilio y recojo del local.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://cdn.www.gob.pe/uploads/document/file/1038665/Anexo_R._D._N__014-2020-PRODUCE-DGDE.pdf" target="_blank">https://cdn.www.gob.pe/uploads/document/file/1038665/Anexo_R._D._N__014-2020-PRODUCE-DGDE.pdf</a><br>
                                    <a href="https://www.gob.pe/institucion/minsa/normas-legales/544212-250-2020-minsa" target="_blank">https://www.gob.pe/institucion/minsa/normas-legales/544212-250-2020-minsa</a><br>
                                    <a href="https://www.gob.pe/institucion/produce/normas-legales/563125-142-2020-produce" target="_blank">https://www.gob.pe/institucion/produce/normas-legales/563125-142-2020-produce</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/infografia-restaurante.png" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--morado fnToggleClass" data-targets="#guiado">
                    <img src="/assets/images/vamosavolver/guiado.svg" alt="">
                    Guiado turístico
                </a>
                <div id="guiado" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#guiado">
                            <h4 href="#" class="volver__box__titulo m--morado">
                                <img src="/assets/images/vamosavolver/guiado.svg" alt="">
                                Guiado turístico
                            </h4>
                            <strong class="volver__box__subtitulo">Todos vuelven, los guías turísticos lo saben</strong>
                            <p class="volver__box__resumen">Se acabó la espera. La actividad turística se reinventa para seguir mostrando los atractivos del Perú y contribuir a la reactivación económica de nuestro país. Por tal motivo, los guías turísticos ya cuentan con un protocolo que les indica qué deben hacer. Nosotros podemos ayudarlos durante su labor evitando el consumo de alimentos y bebidas durante los recorridos, escuchando atentamente la información sobre las medidas preventivas y restrictivas de servicio, y portando toallitas limpiadoras o geles de soluciones alcohólicas.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://www.gob.pe/institucion/mincetur/normas-legales/762044-113-2020-mincetur" target="_blank">https://www.gob.pe/institucion/mincetur/normas-legales/762044-113-2020-mincetur</a>
                                </div>
                                <strong class="volver__box__acordeon__titulo">Infografía</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <img src="/assets/images/vamosavolver/infografia_guiado.png" alt="">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--celeste fnToggleClass" data-targets="#artesania">
                    <img src="/assets/images/vamosavolver/artesania.svg" alt="">
                    Artesanía
                </a>
                <div id="artesania" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#artesania">
                            <h4 href="#" class="volver__box__titulo m--celeste">
                                <img src="/assets/images/vamosavolver/artesania.svg" alt="">
                                Artesanía
                            </h4>
                            <strong class="volver__box__subtitulo">La artesanía peruana no baja la guardia</strong>
                            <p class="volver__box__resumen">La reactivación y promoción de la actividad artesanal está en marcha. Además, el Gobierno no se ha olvidado de sacar adelante al sector turismo mediante el apoyo a Turismo Emprende, un programa que promueve la creación, desarrollo y consolidación de los emprendimientos privados en este rubro.</p>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--verde fnToggleClass" data-targets="#agencias">
                    <img src="/assets/images/vamosavolver/agencias.svg" alt="">
                    Agencias de viajes
                </a>
                <div id="agencias" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#agencias">
                            <h4 href="#" class="volver__box__titulo m--verde">
                                <img src="/assets/images/vamosavolver/agencias.svg" alt="">
                                Agencias de viajes y turismo
                            </h4>
                            <strong class="volver__box__subtitulo">Las agencias están de vuelta, tu mano derecha turística</strong>
                            <p class="volver__box__resumen">Si deseas retomar tus experiencias turísticas, conoce cuáles son las recomendaciones que deben seguir las agencias de viajes y turismo para la correcta atención, y qué normas tienes que cumplir cuando te encuentres en estos establecimientos, como usar la mascarilla en todo momento, realizar pagos virtuales para reducir el riesgo de contagio del COVID-19, ubicarte en los espacios delimitados, entre otras indicaciones de bioseguridad.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://www.gob.pe/institucion/mincetur/normas-legales/762044-113-2020-mincetur" target="_blank">https://www.gob.pe/institucion/mincetur/normas-legales/762043-112-2020-mincetur </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--azul fnToggleClass" data-targets="#viajes-terrestres">
                    <img src="/assets/images/vamosavolver/terrestres.svg" alt="">
                    Viajes terrestres
                </a>
                <div id="viajes-terrestres" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#viajes-terrestres">
                            <h4 href="#" class="volver__box__titulo m--azul">
                                <img src="/assets/images/vamosavolver/terrestres.svg" alt="">
                                Terrestre interprovincial
                            </h4>
                            <strong class="volver__box__subtitulo">La nueva forma de viajar por las carreteras</strong>
                            <p class="volver__box__resumen">Antes de abordar un ómnibus que brinde el servicio de transporte interprovincial de pasajeros, debes tener en cuenta las recomendaciones que ha implementado el Gobierno para evitar la propagación del COVID-19. Ten en cuenta, que deberás presentar una declaración jurada de salud para poder abordar los buses, en la que se asegure que no estás infectado con el COVID-19. No olvides que el ingreso a los terminales terrestres es exclusivamente para los pasajeros, a menos que se requiera algún tipo de asistencia especial.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://www.gob.pe/institucion/mtc/noticias/206490-transporte-interprovincial-protocolo-sanitario-del-mtc-establece-los-requisitos-que-debes-tener-en-cuenta-antes-de-abordar-un-vehiculo" target="_blank">https://www.gob.pe/institucion/mtc/noticias/206490-transporte-interprovincial-protocolo-sanitario-del-mtc-establece-los-requisitos-que-debes-tener-en-cuenta-antes-de-abordar-un-vehiculo </a><br>
                                    <a href="https://cdn.www.gob.pe/uploads/document/file/1345275/RM%20N%C2%B0%200641-2020-MTC/01.pdf" target="_blank">https://cdn.www.gob.pe/uploads/document/file/1345275/RM%20N%C2%B0%200641-2020-MTC/01.pdf</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--amarillo fnToggleClass" data-targets="#turismo">
                    <img src="/assets/images/vamosavolver/aventura.svg" alt="">
                    Turismo de aventura, canotaje y caminata
                </a>
                <div id="turismo" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#turismo">
                            <h4 href="#" class="volver__box__titulo m--amarillo">
                                <img src="/assets/images/vamosavolver/aventura.svg" alt="">
                                Turismo de aventura, canotaje y caminata
                            </h4>
                            <strong class="volver__box__subtitulo">El turismo de aventura regresa con todo</strong>
                            <p class="volver__box__resumen">Las empresas dedicadas a las actividades de turismo de aventura, canotaje y caminata; ya tienen luz verde para reiniciar sus labores, además la novedad es que también se suma a este listado la práctica de alta montaña. Estas compañías deberán seguir al pie de la letra diversas normas, como la desinfección del equipamiento y el cumplimiento de medidas de bioseguridad para poder pernoctar en el campo. Mientras que los usuarios tienen que comunicar si cuentan con alguna sintomatología del COVID-19 dentro de los 15 días posteriores del servicio.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://cdn.www.gob.pe/uploads/document/file/1251257/R.%20M.%20N%C2%B0%20171%20-%202020-.pdf" target="_blank">https://cdn.www.gob.pe/uploads/document/file/1251257/R.%20M.%20N%C2%B0%20171%20-%202020-.pdf</a><br>
                                    <a href="https://www.gob.pe/institucion/mincetur/normas-legales/22479-83-2018-mincetur-dm" target="_blank">https://www.gob.pe/institucion/mincetur/normas-legales/22479-83-2018-mincetur-dm</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <a href="#" class="volver__medidas__blog__icono m--naranja fnToggleClass" data-targets="#acuatico">
                    <img src="/assets/images/vamosavolver/acuatico.svg" alt="">
                    Acuático, fluvial y lacustre
                </a>
                <div id="acuatico" class="box">
                    <div class="box__inset">
                        <article class="box__contenido volver__box">
                            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#acuatico">
                            <h4 href="#" class="volver__box__titulo m--naranja">
                                <img src="/assets/images/vamosavolver/acuatico.svg" alt="">
                                Acuático, fluvial y lacustre
                            </h4>
                            <strong class="volver__box__subtitulo">A movilizarse con seguridad por el agua</strong>
                            <p class="volver__box__resumen">Súbete a un vehículo de transporte acuático, fluvial o lacustre; pero, no olvides que el aforo es solo del 50%, según el protocolo sanitario sectorial para la prevención del COVID-19. Durante el trayecto, evita el contacto físico con el conductor, los tripulantes u otros pasajeros; mantén una distancia de por lo menos un metro. Si al momento de medirte la temperatura esta supera los 38 °C, entonces no podrás abordar la embarcación.</p>
                            <div class="volver__box__acordeon">
                                <strong class="volver__box__acordeon__titulo">Mas información</strong>
                                <div class="volver__box__acordeon__contenido">
                                    <a href="https://cdn.www.gob.pe/uploads/document/file/1394519/Protocolo%20Sanitario%20Sectorial%20para%20la%20Prevenci%C3%B3n%20del%20COVID-19.pdf" target="_blank">https://cdn.www.gob.pe/uploads/document/file/1394519 Protocolo%20Sanitario%20Sectorial%20para%20la%20Prevenci%C3%B3n%20del%20COVID-19.pdf</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="volver__seccion volver__reactivacion">
        <div class="limit">
            <h5 class="volver__titulo">El Perú se está preparando para la reactivación del turismo</h5>
            <div class="volver__reactivacion__cards-container">
                <div class="volver__reactivacion__cards__flecha fnSliderVolverReactivacionToleft"></div>
                <div class="swiper-container volver__reactivacion__cards fnSliderVolverReactivacion">
                    <div class="swiper-wrapper">
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="8pRpnIrEHOo">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/playa-trompa-de-elefante.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Norte peruano</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="S4ZwJ5infIo">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/pampa-ayacucho-quinua.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Centro del Perú</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="Jf5aTEPmYpU">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/ruta-del-sillar.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Reactivación de Arequipa</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="O2qI94wuucA">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/islay-arequipa.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Reactivación Islay - Arequipa</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="8cGDazCQUqY">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/luxury-collection-resort.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Protocolos - Tambo del Inka</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="NGdlxJu4wPQ">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/pasco-oxapampa.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Pasco</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="T8zqCeXxh5A">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/arequipa-misti.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Arequipa</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="B4kwybHt3rk">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/video-2.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Cajamarca</strong>
                        </a>
                        <a href="#" class="swiper-slide volver__reactivacion__card fnBoxVideo" data-video="kGHa9vEGvFQ">
                            <figure class="volver__reactivacion__card__image"><img src="/assets/images/vamosavolver/video-3.jpg" alt=""></figure>
                            <strong class="volver__reactivacion__card__titulo">Ucayali</strong>
                        </a>
                    </div>
                </div>
                <div class="volver__reactivacion__cards__flecha m--rotate180 fnSliderVolverReactivacionToRight"></div>
            </div>
            <p class="volver__reactivacion__texto">Servicios y atractivos turísticos que ya cuentan con los protocolos implementados para su reactivación:</p>
            <div class="boton-contenedor">
                <a href="/assets/files/agencias.xlsx" target="_blank" class="boton m--rojo m--grande m--padding-pequeno">
                    <strong>Agencias autorizadas</strong>
                </a>
                <a href="/assets/files/alojamientos.xlsx" target="_blank" class="boton m--rojo m--grande m--padding-pequeno">
                    <strong>Alojamientos autorizados</strong>
                </a>
                <a href="/assets/files/restaurantes.xlsx" target="_blank" class="boton m--rojo m--grande m--padding-pequeno">
                    <strong>Restaurantes </strong>
                </a>
            </div>
        </div>
    </section>

    <section class="volver__seccion volver__casa">
        <div class="limit">
            <header>
                <h6 class="volver__titulo-tipo2">#YoMeQuedoEnCasa</h6>
                <p class="volver__resumen">Dale un vistazo a estos contenidos desde la comodidad de tu hogar. Un viaje por el Perú haciendo solo un clic</p>
                <div class="volver__casa__cards">
                    <a href="http://mpsm.gob.pe/portal/turismo" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_1.jpg" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo"></strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                    <a href="https://www.ytuqueplanes.com/blog-viajero/nacional/cuidar-tu-salud-es-simple-incluye-la-granadilla-en-tu-alimentacion" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_2.jpg" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo">Cuidar tu salud es simple, incluye la granadilla en tu alimentación</strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                    <a href="https://www.ytuqueplanes.com/blog-viajero/nacional/primeromisalud-me-cuido-hoy-para-viajar-despues" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_3.jpg" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo">#PrimeroMiSalud, me cuido hoy para viajar después</strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                    <a href="https://www.ytuqueplanes.com/blog-viajero/nacional/viajar-por-el-peru-otra-forma-de-ayudar-a-tu-pais" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_4.png" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo">Viajar por el Perú: otra forma de ayudar a tu país</strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                    <a href="https://www.ytuqueplanes.com/blog-viajero/ancash/a-calentar-el-cuerpo-con-una-patasca" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_5.jpg" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo">¡A calentar el cuerpo con una patasca!</strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                    <a href="https://www.ytuqueplanes.com/rutas-cortas" target="_blank" class="volver__casa__card">
                        <figure class="volver__casa__card__image"><img src="/assets/images/vamosavolver/casa_6.jpg" alt=""></figure>
                        <span class="volver__casa__card__contenido">
                            <strong class="volver__casa__card__titulo">Estas son las Rutas Cortas del Perú que podrás disfrutar pronto</strong>
                            <span class="boton m--rojo m--mediano m--padding-pequeno"><strong>Ver nota</strong></span>
                        </span>
                    </a>
                </div>
            </header>
        </div>
    </section>

    <div id="box-video" class="box">
        <div class="box__inset">
            <div class="box__contenido m--video">
                <iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass videoClose" data-removes="#box-video">
            </div>
        </div>
    </div>

    <script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/site.js"></script>

</body>
</html>