<!DOCTYPE html>
<html lang="es-PE">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Volver a viajar</title>
	<link rel="stylesheet" href="http://dev.mmsolutions.com.pe/assets/css/site.css">
</head>
<body>

	<header class="volveraviajar__banner-principal">
		<div class="limit">
			<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/logo-ytuqueplanes.svg" alt="" class="volveraviajar__banner-principal__image">
			<h2 class="volveraviajar__banner-principal__titulo">¡Preparate para volver a disfrutar lo bueno de viajar por el Perú!</h2>
			<div class="boton-contenedor">
				<a href="#" class="boton m--morado m--grande m--play fnBoxVideo" data-video="kGHa9vEGvFQ"><strong>Ver Videoclip</strong></a>
			</div>
		</div>
	</header>

	<section class="volver__seccion volveraviajar__ayudar">
		<div class="limit">
			<h3 class="volver__titulo-tipo2">Viajar para ayudar</h3>
			<p class="volver__resumen">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci vel, est qui dolorem ipsum quia dolor sit est qui dolorem ipsum quia dolor sit</p>
			<div class="swiper-container volveraviajar__ayudar__slider fnSliderVolverAViajarAyudar">
				<div class="swiper-wrapper">
					<a href="#" class="swiper-slide volveraviajar__ayudar__card fnBoxVideo" data-video="NGdlxJu4wPQ">
						<span class="volveraviajar__ayudar__card__header">
							<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/persona_1.png" alt="">
							<p>
								<strong>Ullamco laboris nisi</strong>
								Aliquip ex ea commodo consequat
							</p>
						</span>
						<figure class="volveraviajar__ayudar__card__image">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__ayudar__card__play"></span>
						</figure>
					</a>
					<a href="#" class="swiper-slide volveraviajar__ayudar__card fnBoxVideo" data-video="NGdlxJu4wPQ">
						<span class="volveraviajar__ayudar__card__header">
							<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/persona_2.png" alt="">
							<p>
								<strong>Ullamco laboris nisi</strong>
								Aliquip ex ea commodo consequat
							</p>
						</span>
						<figure class="volveraviajar__ayudar__card__image">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/playa-trompa-de-elefante.jpg" alt="">
							<span class="volveraviajar__ayudar__card__play"></span>
						</figure>
					</a>
				</div>
				<div class="swiper-pagination volveraviajar__ayudar__slider__pagination"></div>
			</div>
		</div>
	</section>

	<section class="volver__seccion volveraviajar__instagrameable">
		<div class="limit">
			<h4 class="volver__titulo-tipo2">#PerúInstagrameable</h4>
			<p class="volver__resumen">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			<div class="swiper-container volveraviajar__instagrameable__slider fnSliderVolverAViajarInstagrameable">
				<div class="swiper-wrapper">
					<figure class="swiper-slide volveraviajar__instagrameable__card">
						<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/a1.png" alt="" class="volveraviajar__instagrameable__card__image">
						<figcaption class="volveraviajar__instagrameable__card__text">@gabriel_ataucusi </figcaption>
					</figure>
					<figure class="swiper-slide volveraviajar__instagrameable__card">
						<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/a2.png" alt="" class="volveraviajar__instagrameable__card__image">
						<figcaption class="volveraviajar__instagrameable__card__text">@gabriel_ataucusi </figcaption>
					</figure>
					<figure class="swiper-slide volveraviajar__instagrameable__card">
						<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/a3.png" alt="" class="volveraviajar__instagrameable__card__image">
						<figcaption class="volveraviajar__instagrameable__card__text">@gabriel_ataucusi </figcaption>
					</figure>
					<figure class="swiper-slide volveraviajar__instagrameable__card">
						<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/a4.png" alt="" class="volveraviajar__instagrameable__card__image">
						<figcaption class="volveraviajar__instagrameable__card__text">@gabriel_ataucusi </figcaption>
					</figure>
				</div>
			</div>
		</div>
	</section>

	<section class="volver__seccion volveraviajar__voces">
		<div class="limit">
			<h5 class="volver__titulo-tipo2">Voces del Perú</h5>
			<p class="volver__resumen">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
			<nav class="volveraviajar__voces__nav fnChangeVoces">
				<a href="#voces-norte" class="-active-">Norte</a>
				<a href="#voces-sur">Sur</a>
				<a href="#voces-centro">Centro</a>
			</nav>
			<div id="voces-norte" class="swiper-container volveraviajar__voces__slider -active- fnSliderVolverAViajarVoces">
				<div class="swiper-wrapper">
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
				</div>
				<div class="swiper-pagination volveraviajar__voces__slider__pagination"></div>
			</div>
			<div id="voces-sur" class="swiper-container volveraviajar__voces__slider fnSliderVolverAViajarVoces">
				<div class="swiper-wrapper">
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>sur</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
				</div>
				<div class="swiper-pagination volveraviajar__voces__slider__pagination"></div>
			</div>
			<div id="voces-centro" class="swiper-container volveraviajar__voces__slider fnSliderVolverAViajarVoces">
				<div class="swiper-wrapper">
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
					<article class="swiper-slide volveraviajar__voces__card">
						<figure class="volveraviajar__voces__card__image fnBoxVideo" data-video="NGdlxJu4wPQ">
							<img src="http://dev.mmsolutions.com.pe/assets/images/vamosavolver/pasco-oxapampa.jpg" alt="">
							<span class="volveraviajar__voces__card__play"></span>
						</figure>
						<p class="volveraviajar__voces__card__content">
							<strong>Lorem ipsum</strong>
							Ipsum quia sit amet ergo sum qui sun
						</p>
					</article>
				</div>
				<div class="swiper-pagination volveraviajar__voces__slider__pagination"></div>
			</div>
		</div>
	</section>

	<section class="volver__seccion volveraviajar__manual">
		<div class="limit">
			<img src="http://dev.mmsolutions.com.pe/assets/images/volveraviajar/logo-manual.png" alt="" class="volveraviajar__manual__logo">
			<h6 class="volver__titulo-tipo2">Manual del viajero responsable</h6>
			<p class="volver__resumen">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur</p>
			<div class="boton-contenedor">
				<a href="#" class="boton m--morado m--pequeno m--padding-pequeno fnBoxVideo" data-video="kGHa9vEGvFQ"><strong>Descarga el manual</strong></a>
			</div>
		</div>
	</section>

	<div id="box-video" class="box">
		<div class="box__inset">
			<div class="box__contenido m--video">
				<iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<img src="http://dev.mmsolutions.com.pe/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass videoClose" data-removes="#box-video">
			</div>
		</div>
	</div>

	<script src="http://dev.mmsolutions.com.pe/assets/js/vendor/jquery-3.3.1.min.js"></script>
	<script src="http://dev.mmsolutions.com.pe/assets/js/site.js"></script>

</body>
</html>