
@{
    ViewBag.Title = "Index";
}

<section class="page__header m--blog" style="background-image: url('assets/images/rutas-cortas-4.jpg');">
    <div class="limit page__header__inset">
        <a href="#" class="page__header__miga-de-pan"><img src="assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Blog viajero</h2>
        <p class="page__header__resumen">Descubre de los impresionantes atractivos que puedes visitar en Perú</p>
        <strong class="page__header__subtitulo">¿Que destinos quieres conocer?</strong>
        <div class="boton m--amarillo m--grande filtro-selector__select-ui">
            <strong class="filtro-selector__select-ui__contenido">Amazonas</strong>
            <select class="filtro-selector__select-ui__select fnSelect">
                <option value="Amazonas">Amazonas</option>
                <option value="Lima">Lima</option>
            </select>
        </div>
    </div>
</section>

<main class="seccion">

    <div class="seccion m--contenedor-selector">
        <div class="limit">
            <div class="filtro-selector">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo-" data-filtro="Notas">
                    <strong>Notas</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton" data-filtro="Videos">
                    <strong>Videos</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido">Todas las ofertas</strong>
                    <select class="filtro-selector__select-ui__select fnSelect">
                        <option value="Notas">Notas</option>
                        <option value="Paquetes">Videos</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Vive nuevas experiencias</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-2.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>13</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-4.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>2</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-6.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>4</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-10.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>4</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Gastronomía</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>3</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-6.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>7</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-3.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>17</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-9.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>18</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Festividades</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-8.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>16</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-2.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>6</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-2.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>2</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-4.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>16</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo m--left">Recomendaciones por youtube</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-4.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>12</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-10.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>5</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-3.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>4</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>17</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="blog-interna.html" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


