
@{
    ViewBag.Title = "Index";
}


<section class="page__header m--bg-black" style="background-image: url('/assets/images/rutas-cortas-1.jpg');">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Noticias</h2>
    </div>
</section>
<main class="seccion m--top">
    <section class="seccion m--grilla-poster m--noticias">
        <div class="limit">
       
            <strong class="destinos__subtitulo">Noticias</strong>
            <strong class="destinos__subtitulo-mobile">Mostrar destinos</strong>
            <div class="filtro-selector" data-target="#fnTargetFiltroGrilla">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltrarGrilla" data-filtro="">
                    <strong>Todos</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Turismo">
                    <strong>Turismo</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Política">
                    <strong>Política</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Comunidad">
                    <strong>Comunidad</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltrarGrilla" data-filtro="Empresas">
                    <strong>Empresas</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todos</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltrarGrilla">
                        <option value="">Todos</option>
                        <option value="Turismo" data-filtro="Turismo">Turismo</option>
                        <option value="Política" data-filtro="Política">Política</option>
                        <option value="Comunidad" data-filtro="Comunidad">Comunidad</option>
                        <option value="Empresas" data-filtro="Empresas">Empresas</option>
                    </select>
                </div>
            </div>
            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- -mas-3- -mas-6-">
                <div class="seccion__grilla__bloques">
                    <article class="card-info m--tipo7" data-filtro="Turismo">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Turismo</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Turismo">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Turismo</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="/noticias/detalle">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Política">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Política</strong> <a href="/noticias/detalle">
                                <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="/noticias/detalle">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Comunidad">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Comunidad</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="/noticias/detalle">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Comunidad">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Comunidad</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="/noticias/detalle">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Empresas">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Empresas</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="#">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                    <article class="card-info m--tipo7" data-filtro="Empresas">
                        <img src="/assets/images/aeropuerto.png" alt="" class="card-info__imagen">
                        <header class="card-info__header">
                            <strong class="card-info__empresas">Empresas</strong>
                            <h1 class="card-info__titulo"><a href="/noticias/detalle">Aeropuerto Internacional Jorge Chávez recibe acreditación en medición de Huella de Carbono</a></h1>
                        </header>
                        <p class="card-info__texto">El Aeropuerto Internacional Jorge Chávez recibió la acreditación Mapping - Nivel 1 del Airport Carbon Accreditation (ACA), certificación que reconoce los esfuerzos en la medición de la huella de carbono asociadas a la actividad aeroportuaria. Así lo informó Julissa Salavarría, gerente de Sistemas de Gestión de Lima Airport Partners (LAP), empresa concesionaria del aeropuerto. “El objetivo es seguir alcanzando altos estándares en buenas prácticas de eficiencia ambiental y reducción de carbono, como lo hacen importantes aeropuertos en otros países”, sostuvo Julissa Salavarría.</p>
                        <aside class="card-info__last">
                            De: <a href="/noticias/detalle">infotur.com</a><br>
                            17 de setiembre, 2020
                        </aside>
                    </article>
                </div>
                <div class="boton-contenedor">
                    <div class="boton m--verde-hoja m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>
</main>


