.boton
	display inline-flex
	font-family f-medium
	text-align center
	padding 0 55px
	overflow hidden
	position relative
	cursor pointer
	transition background-color ease 0.25s
	border 0

	align-items center
	justify-content center

	&:before
		content ''
		display block
		width 0
		height 0
		border-radius 50%
		position absolute
		z-index 1
		top 50%
		left 50%
		background-color inherit
		transform translate(-50%, -50%)
		transition all ease .5s

	strong
		position relative
		z-index 2
		animation menuItemOut ease 0.35s forwards
		color #fff

	&:hover
		&:before
			width 400px
			height 400px
		strong
			animation menuItemIn ease 0.45s forwards

	&-contenedor
		width 100%
		display flex
		justify-content center

		&.m--padding-top
			padding-top 20px

	&.m--grande
		min-height 53px
		border-radius 24px
		font-size 1.125rem

	&.m--mediano
		min-height 40px
		border-radius 20px
		font-size 1rem

	&.m--pequeno
		min-height 32px
		border-radius 16px
		font-size 0.75rem

	&.m--235
		width 235px
		padding 0
	&.m--148
		margin 0 auto
		display flex
		width 148px
		padding 0 10px

	&.m--camara
		vertical-align middle
		margin-left 10px
		strong
			font-size 0.9rem
		i
			color #fff
			font-size 1.3rem
			margin-right 5px
			vertical-align bottom
			position relative
			z-index 2

	&.m--padding-pequeno
		padding 0 30px

	&.m--verde
		background-color verde
		&:hover:before
			background-color verdeOscuro

	&.m--crema
		background-color crema
		&:hover:before
			background-color cremaOscuro

	&.m--verde-hoja
		background-color verdeHoja
		&:hover:before
			background-color verdeHojaOscuro

	&.m--amarillo
		background-color amarillo
		&:hover:before
			background-color amarilloOscuro

	&.m--morado
		background-color morado
		&:hover:before
			background-color moradoOscuro

	&.m--wsp
		background-color #77b822
		i
			font-size 1.3rem
			margin-right 5px
			vertical-align middle
		&:hover
			background-color #77b822

	&.m--filtro, &.m--filtro.m--morado
		background-color #fff
		border 1px solid #a2a2a2
		opacity 0.6
		cursor pointer
		&:before
			background-color #fbfbfb
		strong
			color #a2a2a2
			font-size 1rem
			line-height 1
		&:hover
			opacity 1
			border-color verde
			strong
				color verde
		&.-activo-, &.-activo-:hover
			opacity 1
			background-color verde
			border-color verde
			&:before
				background-color verde
			strong
				color #fff
		&.m--filtro.m--morado
			&:hover
				border-color morado
				strong
					color morado
			&.-activo-, &.-activo-:hover
				background-color morado
				border-color morado
				&:before
					background-color morado
				strong
					color #fff


	@media (max-width 600px)
		&.m--grande
			font-size 1rem

/* Filtro selector */
.filtro-selector
	padding-bottom 50px
	.boton
		margin-right 10px
		padding 0 30px

	&__boton
		&[hidden]
			display none

	&__select-ui
		display none
		width 280px
		padding 0 25px

		&:after
			content ''
			display block
			width 13px
			height 7px
			background-image url('../images/icono_select.svg')
			position absolute
			top 50%
			margin-top -3.5px
			right 23px
			z-index 2

		&__select
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			border 0
			opacity 0
			z-index 3
			font-family f-book
			outline none
			padding 0 10px

	@media (max-width 900px)
		.boton
			display none
		.filtro-selector__select-ui
			display flex
			margin 0 auto


/* Slider Principal */
.sliders
	height 100%
	max-height 720px
	min-height 470px

	&__nav
		position absolute
		bottom 59px
		right 15px
		z-index 2

		display flex
		justify-content center
		align-items center

		@media (max-width 600px)
			width 100%
			right 0
			bottom 15px

		&__items
			display flex
			align-items center

		&__item
			width 31px
			height 31px
			line-height 31px
			border 1px solid #fff
			opacity 1
			background none
			border-radius 0
			border-top-left-radius 10px
			border-bottom-right-radius 10px
			color #fff
			text-align center
			font-size 1rem
			// font-family f-news
			margin-right 14px
			cursor pointer
			outline none
			transition color ease .25s, background-color ease .25s

			&:hover, &.swiper-pagination-bullet-active
				background-color #fff
				color verde

		&__space
			width 1px
			height 31px
			background-color #fff
			margin-right 14px

		&__play
			overflow hidden
			cursor pointer
			height 16px
			width 12px
			position relative

			&:before
			&:after
				content ''
				display block
				width 3px
				height 16px
				background-color #fff
				position absolute
				transition all ease .25s
			&:before
				left 0

			&:after
				right 0

			&.-active-
				&:before
					width 16px
					height 16px
					margin-right 0
					transform translate(-7px) rotate(45deg)
					transform-origin 50% 50%
				&:after
					opacity 0
					transform scale(0)

.slider
	height 100%
	padding-top 78px
	color #fff
	background #ddd no-repeat center center / cover
	position relative

	display flex
	align-items center

	&:before
		content ''
		display block
		background linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0))
		position absolute
		top 0
		left 0
		width 100%
		height 100%

	&__ubicacion
		display inline-block
		padding 4px 8px
		// height 25px
		line-height 1
		border-radius 9px
		background-color rgba(255,255,255,0.8)
		color azulClaro
		font-size 0.81rem
		margin-bottom 8px

		animation sliderContenidoOut .65s ease forwards
		animation-delay .1s

		i
			margin-right 5px
			font-size 1rem

	&__titulo
		font-size 2.25rem
		font-family f-bbold
		animation sliderContenidoOut .6s ease forwards
		animation-delay .15s

		@media (max-width 600px)
			font-size 1.8rem

	&__contenido
		font-family f-medium
		line-height 1.4
		letter-spacing 0.5px
		margin 10px 0 30px
		max-width 500px
		animation sliderContenidoOut .55s ease forwards
		animation-delay .2s
		@media (max-width 600px)
			margin 10px 0 18px

	.boton
		animation sliderContenidoOut .5s ease forwards
		animation-delay .25s

	&.swiper-slide-active
		.slider
			&__ubicacion
				animation sliderContenidoIn .65s ease .1s forwards
			&__titulo
				animation sliderContenidoIn .6s ease .15s forwards
			&__contenido
				animation sliderContenidoIn .55s ease .2s forwards
		.boton
			animation sliderContenidoIn .5s ease .25s forwards

	@media (max-width 810px)
		padding-top 44px

@keyframes sliderContenidoIn
	0%
		opacity 0
		transform translateY(40px)
	100%
		opacity 1
		transform translateY(0)

@keyframes sliderContenidoOut
	0%
		opacity 1
		transform translateY(0)
	60%
		opacity 0
	100%
		opacity 0
		transform translateY(-40px)

/* corazon */
.corazon
	font-size 0.81rem
	font-family f-news
	display none
	i
		margin-right 5px
		font-size 1rem

	&.m--gris
		color gris

	&.m--blanco
		color #fff

/* Cards */
.card

	&-info
		border-radius 12px
		box-shadow 2px 3px 7px rgba(176, 176, 176, 0.3)
		background-color #fff
		position relative
		overflow hidden

		&__imagen
			width 100%
			object-fit cover
			object-position 50% 0

		&__estrellas
			color crema
			font-size 1.3rem

		&__header
			display flex
			flex-wrap wrap
			align-content flex-start

		&__ubicacion
			color azulClaro
			font-size 0.81rem
			margin-right auto
			font-family f-news

			i
				margin-right 5px
				font-size 1rem

		&__titulo
			font-size 0.93rem
			font-family f-bold
			line-height 1rem
			padding-top 12px
			width 100%

			display block
			display -webkit-box
			max-width 100%
			-webkit-line-clamp 3
			-webkit-box-orient vertical
			overflow hidden
			text-overflow ellipsis

			transition color ease .25s

		&__mas-informacion
			font-size 0

			position absolute
			top 0
			left 0
			width 100%
			height 100%

		&:hover
			.card-info__titulo
				color verde

		&.m--tipo1
			max-width 231px

			.card-info
				&__imagen
					height 246px

				&__header
					height 108px
					padding 14px

				&__titulo
					font-size 0.93rem
					line-height 1rem
					padding-top 12px
					width 100%

		&.m--tipo2
			max-width 261px

			.card-info
				&__imagen
					height 261px

				&__header
					height 115px
					padding 16px

				&__titulo
					padding-top 10px
					font-size 1rem
					line-height 19px

		&.m--tipo3
			max-width 265px
			border-radius 0
			border-bottom-right-radius 32px

			.card-info
				&__imagen
					height 138px

				&__header
					height 155px
					padding 16px

				&__titulo
					padding-top 10px
					font-size 0.93rem
					line-height 20px
					height 70px

				&__fecha
					color morado
					font-size 0.75rem
					font-family f-bold
					text-transform uppercase
					margin-top 20px

		&.m--tipo4
			max-width 264px

			.card-info
				&__imagen
					height 128px
				&__header
					padding 12px 15px
				&__titulo
					font-size 0.75rem
					font-family f-bold
					padding-top 10px
					height 55px
				&__fecha
					font-size 0.625rem
					padding-top 15px

		&.m--tipo5
			width 100%
			max-width 846px
			box-shadow 0 0 10px 0 rgba(212, 212, 212, 0.5)

			display flex
			align-items center

			.card-info
				&__imagen
					width 320px
					height 212px
				&__contenido
					padding 35px
				&__titulo
					font-size 1.25rem
					line-height 1.05
					font-family f-bbold
					color #787878
					padding-top 0
				&__resumen
					font-size 0.8125rem
					line-height 1.3
					font-family f-book
					color #636363
					padding 15px 0 30px
				&__leer-mas
					font-size 0.8125rem
					font-family f-news
					color verde
					&:hover
						text-decoration underline
			@media (max-width 760px)
				.card-info
					&__contenido
						padding 15px 20px
			@media (max-width 660px)
				max-width 290px
				flex-direction column
				.card-info
					&__imagen
						width 100%
						height 180px
					&__contenido
						padding 20px 15px
					&__resumen
						padding 10px 0 20px

		&.m--tipo6
			max-width 260px
			height 273px
			padding 34px 25px
			border-top-left-radius 0
			border-bottom-right-radius 0
			margin auto
			display flex
			flex-direction column
			.card-info
				&__estrellas
					order 0
					color amarillo
					padding-bottom 22px
				&__resumen
					order 1
					font-size 0.75rem
					font-family f-news
					color #787878
					line-height 1.3
					margin-bottom auto
				&__header
					order 2
					display flex
					align-items center
				&__imagen
					width 47px
					height 47px
					border-radius 50%
				&__nombre
					font-size 0.8125rem
					font-family f-bold
					padding-left 15px

	&-poster
		background-color #bbb
		overflow hidden
		border-radius 12px
		background #bbb center center / cover
		position relative

		&__imagen
			width 100%
			height 100%
			object-fit cover
			position absolute
			top 0
			left 0
			z-index 1
			transition all ease .25s

		&__precio
			background-color crema
			border-bottom-right-radius 12px
			color azulOscuro
			font-family f-bold
			position absolute
			top 0
			left 0
			z-index 3

			display flex
			flex-direction column
			align-items center
			justify-content center

			&-anterior
				font-size 0.6rem
				text-decoration line-through
				font-familiy f-news

		&__ubicacion
			position absolute
			top 15px
			left 15px
			z-index 3
			color #fff
			i
				margin-right 5px

		&__corazon
			position absolute
			top 15px
			right 15px
			z-index 3

		&__header
			position absolute
			bottom 0
			left 0
			color #fff
			width 100%
			font-family f-news
			z-index 3
			transition all ease .25s

		&__compra
			display inline-block
			background-color rojo
			font-size 0.6rem
			height 21px
			line-height 21px
			border-radius 2px
			padding 0 10px

		&__subtitulo
			font-size 0.9rem
			display block
			margin 5px 0 3px

		&__titulo
			font-size 1.125rem
			// text-transform uppercase
			font-family f-bold

		&__mas-informacion
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			font-size 0
			z-index 4

		&:before
		&:after
			content ''
			display block
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			z-index 2
			transition all ease .25s
		&:before
			background linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.7))
		&:after
			background rgba(0,0,0,.5)
			opacity 0
		&:hover
			&:before
				opacity 0
			&:after
				opacity 1
			.card-poster
				&__header
					bottom 20px
				&__imagen
					transform scale(1.05)

		&.m--tipo1
			width 231px
			height 354px

			.card-poster

				&__precio
					width 105px
					height 62px
					font-size 1.6rem

				&__header
					padding 0 15px 30px

		&.m--tipo2
			width 206px
			height 314px

			.card-poster

				&__precio
					width 76px
					height 56px
					font-size 1.25rem

				&__header
					padding 0 15px 15px

		&.m--tipo3
			width 257px
			height 375px

			.card-poster

				&__header
					padding 0 15px 20px

				&__titulo
					text-align center
					display block
					font-size 1.375rem
					font-family f-medium

		&.m--tipo4
			width 257px
			height 279px

			.card-poster

				&__header
					padding 0 15px 20px

				&__titulo
					text-align center
					display block
					font-size 1.375rem
					font-family f-medium

		&.m--tipo5
			width 263px
			height 279px

			.card-poster

				&__header
					padding 0 15px 20px

				&__titulo
					text-align center
					display block
					font-size 1.125rem
					font-family f-bbold
					padding-bottom 20px

	&-full
		height 317px
		border-bottom-right-radius 40px
		background #eee no-repeat center center / cover
		box-shadow 2px 3px 7px 0 rgba(176, 176, 176, 0.9)
		padding 0 68px
		color #fff
		text-shadow 0 2px 18px rgba(0, 0, 0, 0.5)
		position relative

		display flex
		flex-direction column
		align-items flex-start
		justify-content center

		&:before
			content ''
			display block
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0) )
			z-index 0

		&.m--centrado
			align-items center
			text-align center

		&__titulo
			font-family f-bold
			font-size 2.25rem
			position relative

		&__contenido
			font-family f-news
			font-size 1.5rem
			padding 8px 0 18px
			position relative

		@media (max-width 800px)
			padding 0 30px

		@media (max-width 600px)
			padding 0 15px

			&__titulo
				font-size 1.8rem

			&__contenido
				font-size 1.2rem
				padding 5px 0 12px

	&-transporte
		width 265px
		min-height 292px
		height 100%
		border-bottom-right-radius 24px
		border 1px solid #a9a9a9
		padding 30px
		position relative
		&__imagen
			height 116px
			display flex
			align-items center
			justify-content center
			img
				max-height 102px
		&__titulo
			font-size 1.3rem
			text-align center
			display block
			font-family f-bbold
			color #47B3A9
			padding 5px 0 15px
			&.m--morado
				color morado
			&.m--azul
				color #2783bd
			&.m--verdehoja
				color #90c745
		&__lista
			font-size 0.75rem
			display flex
			flex-wrap wrap
			line-height 1.5
			dt
				flex 90px
				font-family f-bold
				padding 2px 0
			dd
				flex calc(100% - 90px)
				font-family f-news
				padding 2px 0
			a
				color #0091ff
				&:hover
					text-decoration  underline
		&__enlace-inferior
			position absolute
			bottom 7px
			left 50%
			transform translate(-50%, 0)
			color #0091ff
			font-size 0.75rem
			font-family f-news
			display none
			&:hover
				text-decoration  underline
			@media (max-width: 800px)
					display block
		&__recomendado
			background-color amarillo
			color #fff
			font-size 0.75rem
			line-height 32px
			text-transform uppercase
			height 30px
			width 170px
			display block
			text-align center
			border-radius 15px
			position absolute
			top -45px
			left 50%
			margin-left -85px
			&:before
				content ''
				display block
				width 12px
				height 12px
				background-color amarillo
				position absolute
				bottom -6px
				left 50%
				transform translate(-50%,0) rotate(45deg)
			&:after
				content ''
				display block
				width 100%
				height 100%
				position absolute
				bottom 0
				left 0
				border 2px solid #fff
				border-radius 15px


/* secciones de paginas */
.seccion
	padding 40px 0

	&__titulo
		font-size 1.65rem
		font-family f-bold
		text-align center
		padding-bottom 40px
		&.m--left
			text-align left

	&__resumen
		font-family f-book

	&__texto-inferior
			font-size 0.75rem
			font-family f-book
			padding-top 10px
			strong
				font-family f-bold

	&__recomendarias
		display block
		font-size 1.5rem
		text-align center
		padding-top 30px
		.card-info__estrellas
			margin-left 10px
			color amarillo
			display inline-flex
			font-size 1.7rem
			i
				margin-right 5px
				cursor pointer

	&__slider
		&__sin-resultados
			font-size 2rem
			text-align center
			font-family f-book
			color #aaa
			display none
		&.-sin-resultados-
			display none
			+ .seccion__slider__sin-resultados
				display block
			~ .destinos__detalle__slider__flecha
				display none

	&.m--no-top
		padding-top 0

	&.m--bg-tramado
		background #eee url('../images/seccion-bg.jpg') no-repeat center center / cover

	&.m--contenedor-selector
		padding-bottom 0
		.filtro-selector
			padding-bottom 10px

	&.m--slider-horizontal
		.seccion
			&__inset
				padding 0 10px 0 15px
				display flex
				align-items center

			&__contenido
				flex 0 1 285px

			&__titulo
				padding 0
				text-align left

			&__resumen
				padding 20px 0

			&__slider
				flex 1
				margin 0 0 0 75px
				padding 0 5px 0 5px

				display flex
				justify-content space-between

				.swiper-slide
					width auto
					padding 0 13px 10px 0
					&:last-of-type
						padding-right 0

			&__boton-mobile
				display none

	&.m--slider-grilla
		.seccion
			&__inset
				padding 0 10px 0 15px
			&__slider
				width calc(100% + 5px)
				margin-bottom 20px
				height 615px
				padding 0 0 10px
				.swiper-wrapper
					padding-right 10px
				.swiper-slide
					width 274.5px
					height calc((100% - 5px) / 2)
				.card-info
					width 260px

	&.m--grilla-poster
		.seccion
			&__grilla
				margin 0 -10px

				&__bloques
					width 100%
					display flex
					flex-wrap wrap
					justify-content center

				.card-poster
					//width calc(25% - 20px)
					// margin 0 10px 20px
					margin 0 9px 20px
					&.m--tipo5
						width 258px

				.boton-contenedor
					display none
					padding-top 20px

				&.-mostrar-ocultos-, &.-mas-6-, &.-mas-4-
					.boton-contenedor
						display none

				&.-mas-8-
					.boton-contenedor
						display flex

				&.-mostrar-todos-
					.card-poster
						&:nth-of-type(8) ~ .card-poster
							display  none

					&.-mostrar-ocultos-
						.card-poster
							&:nth-of-type(8) ~ .card-poster
								display block
						.boton-contenedor
							display none

				&.-activo-
					.card-poster
						display none
						&.-activo-
							display block
							&.-si-8- ~ .card-poster.-activo-
								display none
					&.-mostrar-ocultos-
						.card-poster
							&.-activo-
								&.-si-8- ~ .card-poster.-activo-
									display block
						.boton-contenedor
							display none

				&.-mostrar-resultados-
					.card-poster
						display none !important
						&.-activo-
							display block !important
					.boton-contenedor
						display none

				&.-sin-resultados-
					.card-poster, .boton-contenedor
						display none
					.seccion__slider__sin-resultados
						display block

	&.m--slider-standard
		.seccion
			&__slider
				height auto
				padding-top 5px
				.swiper-wrapper
					height auto
					padding 0 0 10px
				.swiper-slide
					width 274px
					&:last-of-type
						width 263px
					&.-inactivo-
						display none
		&.m--tipo2
			.seccion
				&__titulo
					text-align left
					&.m--center
						text-align center
				&__slider
					.swiper-slide
						width 220px
		&.m--transporte
			.seccion
				&__slider
					.swiper-slide
						padding-top 45px
						height auto
			.card-transporte
				width 262px

	&.m--festividades
		.boton-contenedor
			padding-top 25px

	@media (max-width 1114px)
		&.m--slider-grilla
			.seccion
				&__slider
					width 100%

	// @media (max-width 1000px)
	// 	&.m--grilla-poster
	// 		.seccion
	// 			&__grilla
	// 				margin 0 -5px

	// 				.card-poster
	// 					width calc(25% - 10px)
	// 					margin 0 5px 10px

	@media (max-width 1110px)
		&.m--grilla-poster
			.seccion
				&__grilla
					margin 0

					&.-mas-6-
						.boton-contenedor
							display flex

					&.-mostrar-todos-
						.card-poster
							&:nth-of-type(6) ~ .card-poster
								display  none

						&.-mostrar-ocultos-
							.card-poster
								&:nth-of-type(6) ~ .card-poster
									display block
					&.-activo-
						.card-poster
							display none
							&.-activo-
								display block
								&.-si-6- ~ .card-poster.-activo-
									display none
						&.-mostrar-ocultos-
							.card-poster
								&.-activo-
									&.-si-6- ~ .card-poster.-activo-
										display block

	@media (max-width 854px)
		&.m--grilla-poster
			.seccion
				&__grilla

					&.-mas-4-
						.boton-contenedor
							display flex

					&.-mostrar-todos-
						.card-poster
							&:nth-of-type(4) ~ .card-poster
								display  none

						&.-mostrar-ocultos-
							.card-poster
								&:nth-of-type(4) ~ .card-poster
									display block
					&.-activo-
						.card-poster
							display none
							&.-activo-
								display block
								&.-si-4- ~ .card-poster.-activo-
									display none
						&.-mostrar-ocultos-
							.card-poster
								&.-activo-
									&.-si-4- ~ .card-poster.-activo-
										display block

	@media (max-width 810px)

		padding 35px 0

		&__titulo
			padding-bottom 20px

		&.m--slider-horizontal
			.seccion
				&__slider
					margin 0 5px 0 30px

		// &.m--grilla-poster
		// 	.seccion
		// 		&__grilla
		// 			margin 0 -5px

		// 			.card-poster
		// 				width calc(33.3% - 10px)
		// 				margin 0 5px 10px
		// 				&:nth-child(6) ~ .card-poster
		// 					display  none

	@media (max-width 680px)

		padding 30px 0

		.filtro-selector
			padding-bottom  25px

		&.m--slider-horizontal
			.seccion
				&__inset
					padding-right 15px
					flex-direction column
				&__contenido
					text-align center
					flex auto
					.boton
						display none
				&__titulo
					text-align center
				&__resumen
					padding 10px 0 20px
				&__slider
					flex auto
					margin 0
				&__boton-mobile
					display inline-flex
					margin-top 20px

		&.m--slider-grilla
			.seccion
				&__slider
					margin-bottom 25px
					height 300px
					padding 0
					.swiper-wrapper
						padding-right 0
					.swiper-slide
						width 274.5px
						height 100%
						&:last-of-type
							width 265px
					.card-info
						width 260px

		// &.m--grilla-poster
		// 	.seccion
		// 		&__grilla
		// 			.card-poster
		// 				width calc(50% - 10px)
		// 				&:nth-child(4) ~ .card-poster
		// 					display  none

	@media (max-width 560px)

		&__recomendarias
			font-size 1.3rem
			.card-info__estrellas
				display flex
				justify-content center
				padding-top 5px


	@media (max-width 480px)

		&__titulo
			font-size 1.35rem

	// @media (max-width 470px)
	// 	&.m--grilla-poster
	// 		.seccion
	// 			&__grilla
	// 				margin 0

	// 				.card-poster
	// 					width 100%
	// 					margin 0 0 10px
	// 					&:nth-child(4) ~ .card-poster
	// 						display  none


/* Box */
.box
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 20
	background-color rgba(0,0,0,.5)
	color #283342
	font-family f-book
	overflow auto
	display none
	opacity 0

	p
		padding 5px 0
		line-height 1.6

	a
		color celeste

	&__inset
		width 100%
		min-height 100%
		padding 25px
		display flex
		align-items center
		justify-content center

	&__contenido
		display block
		padding 40px 75px
		background-color #fff
		box-shadow 0 2px 18px 0 rgba(130, 130, 130, 0.5)
		max-width 800px
		width 100%
		border-radius 18px
		position relative
		z-index 2
		&.m--center
			text-align center

	&__cerrar
		position absolute
		top 25px
		right 30px
		cursor pointer
		transition transform ease .25s

		&:hover
			transform scale(1.1)

	&__logo
		margin 0 auto 35px

	&__titulo
		font-family f-bold
		font-size 1.375rem
		text-align center
		display block
		padding-bottom 20px

	.boton
		margin-top 50px

	&.-activo-
		display block
		animation boxIn ease .25s .1s forwards
		.box__contenido
			animation boxContentIn ease .35s forwards

	@media (max-width 700px)
		&__inset
			padding 15px
		&__contenido
			padding 40px

	@media (max-width 540px)

		&__logo
			width 70px
			margin-bottom 20px
		&__titulo
			padding-bottom 10px
			font-size 1.25rem
		&__contenido
			padding 25px
		&__cerrar
			top 20px
			right 20px
			width 25px
		.boton
			margin-top 25px

@keyframes boxIn
	0%
		opacity 0
	100%
		opacity 1

@keyframes boxContentIn
	0%
		opacity 0
		transform translate(0,50px)
	100%
		opacity 1
		transform translate(0,0)


/* Calendario */

.calendario
	font-size 0.75rem

	display flex
	flex-wrap wrap

	&.-filtrar-
		.calendario
			&__festividad
				opacity 0.2
				transition opacity ease 0.25s
				&.-activo-
					opacity 1

	&__selector-mes
		display inline-flex
		font-size 1.4375rem
		color morado
		font-family f-bold
		margin-left auto

		span
			padding-right 5px

		i
			cursor pointer
			margin-left 10px

	&__item
		flex 0 0 14.28%
		padding 0px 4px 30px 4px

	&__article
		position relative

	&__fecha
		color celeste
		font-family f-bold
		padding 0 2px 3px

		display flex
		justify-content space-between

	&__festividad
		min-height 80px
		padding 10px
		color #636363
		background-color #f5f5f5
		border-radius 3px
		margin-bottom 8px
		position relative
		transition all ease .25s

		&.full:hover
			background-color crema
			color #fff

	&__hora
		color rojo
		font-family f-news
		margin-bottom 12px
		display block
		font-size 0.625rem

	&__imagen
		width 100%
		margin-bottom 5px

	&__resumen
		font-family f-news
		font-size 0.6875rem

	&__lugar
		margin-top 10px
		display block
		font-size 0.625rem

	&__enlace
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		color celeste
		opacity 0

	@media (max-width 900px)

		&__selector-mes
			order 0
			margin 0 auto 20px

	@media (max-width 810px)

		&__item
			flex 0 0 20%

	@media (max-width 600px)

		&__item
			flex 0 0 25%

	@media (max-width 500px)

		&__item
			flex 0 0 33.3%

	@media (max-width 400px)

		&__article
			padding-left 50px

		&__fecha
			position absolute
			top 0
			left 0
			font-size 1.15rem
			z-index 3
			padding-top 5px
			display block
			text-align center
			text-transform uppercase
			span
				display block

		&__item
			flex 0 0 100%
			min-height 75px
			padding 0 0 20px

		&__item
			display none
			&.m--mobile
				display block

.filtro-selector
	&.m--calendario
		display flex
		align-items center
		@media (max-width 900px)
			flex-direction column
			justify-content center
			.filtro-selector__select-ui
				order 1