@font-face {
  font-family: 'ClanOffc-Medium';
  src: url('../fonts/ClanOffc-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/ClanOffc-Medium.ttf')  format('truetype'), url('../fonts/ClanOffc-Medium.woff') format('woff'), url('../fonts/ClanOffc-Medium.svg#ClanOffc-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOffc-Book';
  src: url('../fonts/ClanOffc-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/ClanOffc-Book.ttf')  format('truetype'), url('../fonts/ClanOffc-Book.woff') format('woff'), url('../fonts/ClanOffc-Book.svg#ClanOffc-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOffc-News';
  src: url('../fonts/ClanOffc-News.eot?#iefix') format('embedded-opentype'), url('../fonts/ClanOffc-News.ttf')  format('truetype'), url('../fonts/ClanOffc-News.woff') format('woff'), url('../fonts/ClanOffc-News.svg#ClanOffc-News') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOffc-Bold';
  src: url('../fonts/ClanOffc-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ClanOffc-Bold.ttf')  format('truetype'), url('../fonts/ClanOffc-Bold.woff') format('woff'), url('../fonts/ClanOffc-Bold.svg#ClanOffc-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BreePeru-Bold';
  src: url('../fonts/BreePeru-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BreePeru-Bold.otf')  format('opentype'), url('../fonts/BreePeru-Bold.ttf')  format('truetype'),
	     url('../fonts/BreePeru-Bold.woff') format('woff'), url('../fonts/BreePeru-Bold.svg#BreePeru-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


*, *:before, *:after
	box-sizing border-box

::placeholder
	color #bbb

@media (min-width 811px)
	::-webkit-scrollbar
		width 10px

	::-webkit-scrollbar-track
		background #F1F1F1

	::-webkit-scrollbar-thumb
		background #C1C1C1
		border-radius 20px

	::-webkit-scrollbar-track-piece
		background-color transparent

body,html
	margin 0
	padding 0
	width 100%
	height 100%
	font-size 16px
	line-height 1.2
	font-family f-medium, sans-serif
	-webkit-font-smoothing antialiased
	text-rendering optimizeSpeed
	background #fff
	color #636363

h1,h2,h3,h4,h5,h6,ul,ol,li,p,strong,figure,dl,dt,dd, b
	margin 0
	padding 0
	font-weight normal
ul, ol, li
	list-style none
a
	text-decoration none
	outline none
img
	display block
	border 0
input, button, textarea, select
	outline none
	resize none
address
	font-style normal