verde = #33aba0
verdeOscuro = #30A298
verdeHoja = #84c131
verdeHojaOscuro = #79B12D
azulClaro = #1496a9
gris = #636363
morado = #811062
crema = #f2b30c
azulOscuro = #2b2b6f
rojo = #ee2124
amarillo = #FED118
amarilloOscuro = #ECC217
morado = #811062
moradoOscuro = #710F56
naranja = #ff5600
celeste = #149bff
rojo = #e13b3d
rojoOscuro = #c73335

f-bold = 'ClanOffc-Bold'
f-book = 'ClanOffc-Book'
f-news = 'ClanOffc-News'
f-medium = 'ClanOffc-Medium'
f-bbold = 'BreePeru-Bold'