
@{
    ViewBag.Title = "Index";
    string grillaInicial = "-mas-4- -mas-6- -mas-8-";
}


<section class="page__header m--ofertas" style="background-image: url('assets/images/rutas-cortas-2.jpg');">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Festividades</h2>
        <form action="" class="page__header__form">
            <input type="text" class="page__header__form__input" placeholder="Departamento" readonly>
            <div class="page__header__form__selector">
                <div class="page__header__form__selector__contenido fnTargetSelect">Todos</div>
                <select class="page__header__form__selector__select fnSelect fnSelectUrlReload">
                    <option value="/experiencias">Todos</option>
                    @{
                        var deps= new string[,] {
                            {"Amazonas", "amazonas"},
                            {"Áncash", "ancash"},
                            {"Apurímac", "apurimac"},
                            {"Arequipa", "arequipa"},
                            {"Ayacucho", "ayacucho"},
                            {"Cajamarca", "cajamarca"},
                            {"Cusco", "cusco"},
                            {"Huancavelíca", "huancavelica"},
                            {"Huánuco", "huanuco"},
                            {"Ica", "ica"},
                            {"Junín", "junin"},
                            {"La Libertad", "la-libertad"},
                            {"Lambayeque", "lambayeque"},
                            {"Lima", "lima"},
                            {"Loreto", "loreto"},
                            {"Madre De Dios", "madre-de-dios"},
                            {"Moquegua", "moquegua"},
                            {"Pasco", "pasco"},
                            {"Piura", "piura"},
                            {"Puno", "puno"},
                            {"San Martín", "san-martin"},
                            {"Tacna", "tacna"},
                            {"Tumbes", "tumbes"},
                            {"Ucayali", "ucayali"}
                        };
                        var depsSize = (deps.Length/2)-1;
                    }
                    @for(var i=0; i<=depsSize; i++){
                        <option value="/experiencias/@deps[i,1]">@deps[i,0]</option>
                    }
                </select>
            </div>
            <button type="submit" class="page__header__form__selector__boton">Enviar</button>
        </form>
    </div>
</section>

<main class="seccion">

    <div class="seccion m--contenedor-selector">
        <div class="limit">
            <div class="filtro-selector m--calendario">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltroCalendario" data-filtro="">
                    <strong>Todas las festividades</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltroCalendario" data-filtro="feriado">
                    <strong>Solo feriados</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltroCalendario" data-filtro="fin">
                    <strong>Fines de semana</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todas las festividades</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltroCalendario">
                        <option value="">Todas las festividades</option>
                        <option value="feriado">Solo feriados</option>
                        <option value="fin">Fines de semana</option>
                    </select>
                </div>
                <div class="calendario__selector-mes">
                    <span id="calendario_mes_titulo"></span>
                    <i id="calendario_mes_anterior" class="fa fa-chevron-left fnCambiarMes" aria-hidden="true" data-direccion="menos"></i>
                    <i id="calendario_mes_siguiente" class="fa fa-chevron-right fnCambiarMes" aria-hidden="true" data-direccion="mas"></i>
                </div>
            </div>
        </div>
    </div>

    <section class="seccion">
        <div class="limit">
            <ul id="calendario" class="calendario">
            </ul>
            <div class="boton-contenedor">
                <a href="@ViewBag.festividadesPdf" download="Y tu que planes" class="boton m--grande m--morado m--padding-pequeno"><strong>Descargar el calendario en PDF</strong></a>
            </div>
        </div>
    </section>

</main>
<script>const calendario_provincia = "";</script>


<!-- Formulario -->

<section class="page__header" style="background-image: url('/assets/images/rutas-cortas-3.jpg');">
    <div class="limit page__header__inset">
        <a href="#" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Suscríbete</h2>
        <p class="page__header__resumen">Recibe las últimas novedades sobre destinos, ofertas y promociones que el Perú te ofrece.</p>
    </div>
</section>

<section class="seccion">
    <div class="limit">
        <form method="post" class="form__contenido" action="" data-gracias="#box-gracias" autocomplete="on">
            <h3 class="form__contenido__titulo">Ingresa tus datos</h3>
            <label class="form__label">
                <strong class="form__label__titulo">Nombres</strong>
                <div class="form__input">
                    <input type="text" name="name">
                </div>
            </label>
            <label class="form__label">
                <strong class="form__label__titulo">Apellidos</strong>
                <div class="form__input">
                    <input type="text" name="lastname">
                </div>
            </label>
            <label class="form__label">
                <strong class="form__label__titulo">Correo electrónico</strong>
                <div class="form__input">
                    <input type="email" name="email" valid="email">
                </div>
            </label>
            <div class="form__label">
                <strong class="form__label__titulo">Fecha de nacimiento</strong>
                <span class="form__input-radios">
                    <label class="form__input__radio">
                        <input type="radio" name="sexo" value="Masculino">
                        <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Masculino
                    </label>
                    <label class="form__input__radio">
                        <input type="radio" name="sexo" value="Masculino">
                        <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Femenino
                    </label>
                </span>
            </div>
            <div class="form__label">
                <strong class="form__label__titulo">Fecha de nacimiento</strong>
                <span class="form__input-fecha">
                    <label class="form__input m--dia">
                        <input type="tel" name="dia" placeholder="DD" maxlength="2" valid="numero">
                    </label>
                    <label class="form__input m--mes">
                        <input type="tel" name="mes" placeholder="MM" maxlength="2" valid="numero">
                    </label>
                    <label class="form__input m--anio">
                        <input type="tel" name="anio" placeholder="AAAA" maxlength="4" valid="numero">
                    </label>
                </span>
            </div>
            <label class="form__label">
                <strong class="form__label__titulo">Región donde vives</strong>
                <div class="form__input m--select">
                    <span class="fnTargetSelect">Seleccionar</span>
                    <select name="region" class="fnSelect">
                        <option value="">Seleccionar</option>
                        @{
                            string[] opts = {"Amazonas", "Áncash", "Apurímac", "Arequipa", "Ayacucho", "Cajamarca", "cajamarca", "norte", "Cusco", "Huancavelíca", "Huánuco", "Ica", "Junín", "La Libertad", "Lambayeque", "Lima", "Loreto", "Madre De Dios", "Moquegua", "Pasco", "Piura", "Puno", "San Martín", "Tacna", "Tumbes", "Ucayali"};
                        }
                        @foreach(var opt in opts){
                        <option value="@opt">@opt</option>
                        }
                    </select>
                </div>
            </label>
            <h3 class="form__contenido__titulo m--sub">Actividades de interés</h3>
            <div class="form__checkboxes">
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Aventura</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Vivencial</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Descanzo</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Naturaleza</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Historia</strong></span>
                </label>
            </div>
            <div class="g-recaptcha form__recaptcha" data-sitekey="6LdobcUZAAAAAJW3wlW5SJXPdUqJEbYP1cpc9fiY"></div>

            <span class="form__input-radios m--terminos">
                <label class="form__input__radio">
                    <input type="checkbox" name="sexo" value="Masculino" checked="checked" valid="terminos">
                    <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span>He leído y acepto los <a href="#" target="_blank"> términos y condiciones</a></span>
                </label>
            </span>

            <div class="boton-contenedor">
                <button type="submit" class="boton m--grande m--crema"><strong>Suscribirse</strong></button>
            </div>
        </form>
    </div>
</section>

<div id="box-gracias" class="box">
    <div class="box__inset">
        <span class="bg-cerrar fnToggleClass" data-removes="#box-gracias"></span>
        <div class="box__contenido m--center">
            <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
            <h6 class="box__titulo">¡Gracias por suscribirte!</h6>
            <p>
                Te suscribiste a ytuqueplanes.com
            </p>
            <p>
                Ahora podrás enterarte de nuestras novedades.
            </p>
            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#box-gracias">
        </div>
    </div>
</div>

<!-- Formulario - Fin-->