
@{
    ViewBag.Title = "Index";
    string grillaInicial = "-mas-4- -mas-6- -mas-8-";
}


<section class="page__header m--ofertas" style="background-image: url('/assets/images/rutas-cortas-2.jpg');">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Festividades</h2>
        <form action="" class="page__header__form">
            <input type="text" class="page__header__form__input" placeholder="Departamento" readonly>
            <div class="page__header__form__selector">
                <div class="page__header__form__selector__contenido fnTargetSelect">Todos</div>
                <select class="page__header__form__selector__select fnSelect fnSelectUrlReload">
                    <option value="/festividades">Todos</option>
                    @{
                        var deps= new string[,] {
                            {"Amazonas", "amazonas"},
                            {"Áncash", "ancash"},
                            {"Apurímac", "apurimac"},
                            {"Arequipa", "arequipa"},
                            {"Ayacucho", "ayacucho"},
                            {"Cajamarca", "cajamarca"},
                            {"Cusco", "cusco"},
                            {"Huancavelíca", "huancavelica"},
                            {"Huánuco", "huanuco"},
                            {"Ica", "ica"},
                            {"Junín", "junin"},
                            {"La Libertad", "la-libertad"},
                            {"Lambayeque", "lambayeque"},
                            {"Lima", "lima"},
                            {"Loreto", "loreto"},
                            {"Madre De Dios", "madre-de-dios"},
                            {"Moquegua", "moquegua"},
                            {"Pasco", "pasco"},
                            {"Piura", "piura"},
                            {"Puno", "puno"},
                            {"San Martín", "san-martin"},
                            {"Tacna", "tacna"},
                            {"Tumbes", "tumbes"},
                            {"Ucayali", "ucayali"}
                        };
                        var depsSize = (deps.Length/2)-1;
                    }
                    @for(var i=0; i<=depsSize; i++){
                        <option value="/festividades/@deps[i,1]">@deps[i,0]</option>
                    }
                </select>
            </div>
            <button type="submit" class="page__header__form__selector__boton">Enviar</button>
        </form>
    </div>
</section>

<main class="seccion">

    <div class="seccion m--contenedor-selector">
        <div class="limit">
            <div class="filtro-selector m--calendario">
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton -activo- fnFiltroCalendario" data-filtro="">
                    <strong>Todas las festividades</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltroCalendario" data-filtro="feriado">
                    <strong>Solo feriados</strong>
                </div>
                <div class="boton m--filtro m--morado m--grande filtro-selector__boton fnFiltroCalendario" data-filtro="fin">
                    <strong>Fines de semana</strong>
                </div>
                <div class="boton m--morado m--grande filtro-selector__select-ui">
                    <strong class="filtro-selector__select-ui__contenido fnTargetSelect">Todas las festividades</strong>
                    <select class="filtro-selector__select-ui__select fnSelect fnFiltroCalendario">
                        <option value="">Todas las festividades</option>
                        <option value="feriado">Solo feriados</option>
                        <option value="fin">Fines de semana</option>
                    </select>
                </div>
                <div class="calendario__selector-mes">
                    <span id="calendario_mes_titulo"></span>
                    <i id="calendario_mes_anterior" class="fa fa-chevron-left fnCambiarMes" aria-hidden="true" data-direccion="menos"></i>
                    <i id="calendario_mes_siguiente" class="fa fa-chevron-right fnCambiarMes" aria-hidden="true" data-direccion="mas"></i>
                </div>
            </div>
        </div>
    </div>

    <section class="seccion">
        <div class="limit">
            <ul id="calendario" class="calendario">
            </ul>
            <div class="boton-contenedor">
                <a href="@ViewBag.festividadesPdf" download="Y tu que planes" class="boton m--grande m--morado m--padding-pequeno"><strong>Descargar el calendario en PDF</strong></a>
            </div>
        </div>
    </section>

</main>
<script>const calendario_provincia = "";</script>


