.page

	&__header
		height 480px
		width 100%
		padding-top 120px
		color #fff
		background #ccc no-repeat center center / cover

		&__inset
			position relative
			min-height 100%
			display flex
			flex-direction column
			justify-content center
			align-items center

		&__miga-de-pan
			color #fff
			font-size 0.95rem
			font-family f-bold
			position absolute
			top 0
			left 15px
			display flex
			align-items center
			span
				padding-left 10px
				text-shadow 0 1px 1px rgba(0,0,0,.75)

		&__titulo
			font-size 3rem
			font-family f-bold
			padding 0 0 15px
			text-shadow 0 3px 5px rgba(0,0,0,0.25)
			text-align center

		&__resumen
			max-width 570px
			text-align center
			b, strong
				font-family f-bold
				font-size 1.06rem

		&__form
			position relative
			width 100%
			max-width 420px
			height 52px
			background-color #fff
			border-radius 52px

			&__input
				width 200px
				height 100%
				border 0
				padding 0 20px
				background-color transparent

			&__selector
				position absolute
				top 0
				right 0
				height 100%
				padding 0 20px

				display flex
				align-items center
				justify-content flex-end

				&__select
					position absolute
					top 0
					right 0
					width 100%
					height 100%
					opacity 0
					outline none

				&__contenido
					color morado
					font-family f-bbold
					line-height 1
					&:after
						content ' >'

				&__boton
					display none

		&__bg-animado
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			overflow hidden
			z-index 0
			&__imagen
				object-fit cover
			&__slider
				animation bgAnimado linear 12s infinite

			@keyframes bgAnimado
				0%, 2%
					transform scale(1)
				50%, 54%
					transform scale(1.1)
				98%, 100%
					transform scale(1)

		&.m--ofertas
			.page__header
				&__inset
					align-items flex-start
				&__titulo
					font-size 2.3rem
					text-align left

		&.m--destinos-nivel-4
			.page__header__titulo
				font-size 2.25rem

		&.m--blog
			.page__header
				&__titulo
					font-size 2.625rem
				&__subtitulo
					font-size 1.25rem
					font-family f-bold
					text-transform uppercase
					padding 20px 0 15px
					text-align center
			.filtro-selector__select-ui
				display flex

		&.m--limpio
			background-color #fff
			height 140px
			.page__header__miga-de-pan
				color verde
				span
					text-shadow none
			&.m--resultados
				height fit-content
			&.m--404
				background none

		&.m--bg-black
			position relative
			&:before
				content ''
				width 100%
				height 100%
				background-color rgba(0,0,0,.25)
				position absolute
				top 0
				left 0

	@media (max-width 810px)

		&__header
			padding-top 65px
			height 400px

			&.m--ofertas
				.page__header__titulo
					font-size 2rem

			&.m--limpio
				height 70px

	@media (max-width 680px)

		&__header
			&__titulo
				font-size 2.5rem
			&.m--destinos-nivel-4
				.page__header__titulo
					font-size 1.85rem

	@media (max-width 500px)

		&__header

			&__titulo
				font-size 2rem

			&.m--ofertas
				.page__header__titulo
					font-size 1.6rem
			&.m--destinos-nivel-4
				.page__header__titulo
					font-size 1.6rem

@media (max-width 1200px)
	.seccion.m--slider-standard
		.destinos__detalle__slider__flecha
			display none



/* Rutas Cortas */
.rutas-cortas

	&__buscador
		text-align center

		&__titulo
			font-size 1.875rem
			font-family f-bbold

		&__resumen
			font-size 0.875rem
			max-width 780px
			margin auto
			padding 20px 0 45px
			color #787878
			line-height 1.3

		&__form
			width 90%
			max-width 460px
			margin 0 auto 60px
			position relative

			&__lupa
				position absolute
				top 50%
				margin-top -11px
				left 10px

			&__input
				width 100%
				border 0
				border-bottom 2px solid #979797
				height 40px
				font-size 1.125rem
				line-height 1.125rem
				color verde
				padding 0 20px 0 45px
				transition border-color ease .25s

				&:focus
					border-color verde

			&__boton
				display none

	@media (max-width 600px)

		&__buscador

			&__titulo
				font-size 1.5rem

			&__resumen
				padding 20px 0
				font-size 0.8rem

			&__form
				margin-bottom 40px


/* Destinos */
.destinos
	&-nivel3
		&__listado
			.card-info
				margin 0 auto 20px
			.boton-contenedor
				display none
				padding-top 25px
			&.-activo-
				.card-info:nth-of-type(4) ~ .card-info
					display none
				.boton-contenedor
					display flex

	&__festividad-detalle
		display flex
		align-items flex-start
		&__imagen
			width 510px
			height auto
			object-fit cover
			border-radius 12px
		&__contenido
			padding-left 35px
		.destinos__detalle
			&__tags
				padding-top 10px
			&__footer
				padding 20px 0

	&__detalle
		color #636363
		font-family f-book
		max-width 820px
		margin 0 auto
		text-align justify
		h2, h3, h4, h5, h6
			font-size 1.3rem
			padding-top 10px
			font-family f-bold
		p, li
			line-height 1.4
			padding 10px 0
			margin 0 !important
		ul, li
			margin 0 !important
		strong
			font-weight 600
		a
			color celeste
			font-family f-bold
			&:hover
				text-decoration underline
		img
			max-width 100%
			height auto !important
			margin auto
		&__header
			padding-bottom 15px
		&__lugar
			color verde
			font-family f-bold
			font-size 0.85rem
		&__titulo
			font-family f-bbold
			font-size 1.75rem
			padding 3px 0
			color #787878
		&__fecha
			font-size 1.25rem
			text-transform uppercase
		&__slider
			margin 20px 0
			position relative
			.swiper-container
				width 100%
				height 366px
				box-shadow 8px 10px 35px 0 rgba(0, 0, 0, 0.22)
				border-radius 12px
				img
					width 100%
					height 100%
					object-fit cover
			.swiper-pagination
				position static
				width 100%
				text-align center
				left 0
				padding-top 15px
			.swiper-pagination-bullet
				margin 0 5px
				width 11px
				height 11px
				background-color #d8d8d8
				opacity 1
				cursor pointer
				outline none
				&.swiper-pagination-bullet-active
					background-color #636363
			&__flecha
				width 10px
				height 40px
				position absolute
				top 50%
				margin-top -20px
				cursor pointer
				outline none
				&:before, &:after
					content ''
					display block
					width 2px
					height 20px
					background-color amarillo
					position absolute
					left 5px
				&:before
					top 1px
					transform rotate(25deg)
				&:after
					bottom 1px
					transform rotate(-25deg)
				&.m--left
					left -30px
				&.m--right
					right -30px
					transform rotate(-180deg)
				&.swiper-button-disabled
					&:after, &:before
						background-color #ccc
		&__tags
			padding-top 30px
			display none
			strong, a
				font-family f-medium
				display inline-block
				background-color amarillo
				color #fff
				line-height 1
				margin 0 5px 7px 0
				font-size 0.875rem
				padding 10px 25px
				border-radius 8px
		&__footer
			color #636363
			max-width 820px
			margin 0 auto
			padding-top 50px
			display flex
			justify-content flex-end
		&__me-gusta
			margin-right auto
			font-size 1.3rem
			font-family f-book
			cursor pointer
			display none
			span
				width 50px
				height 50px
				border 1px solid gris
				border-radius 50%
				display inline-flex
				align-items center
				justify-content center
				transform scaleX(-1)
		&__redes
			color #fff
			width 36px
			height 36px
			border-radius 50%
			font-size 1.25rem
			display flex
			align-items center
			justify-content center
			margin-left 10px
			transition all ease .25s
			&:hover
				transform translateY(-2px)
				box-shadow 0 5px 3px rgba(0,0,0,.4)
			&.m--facebook
				background-color #4d82c8
			&.m--twitter
				background-color #00bef1
			&.m--wsp
				background-color #00b27e
				font-size 1.4rem
				i
					margin-right -2.5px
			&.m--share
				background-color #fff
				img
					width 30px
					height 30px
				&:hover
					transform translateY(0)
					box-shadow none

		&.m--full
			h2, h3, h4, h5, h6
				font-size 1.2rem
				padding-top 15px
			ul
				padding-left 25px
			li
				list-style disc

	&__subtitulo
	&__subtitulo-mobile
		color amarillo
		font-size 1.875rem
		font-family f-bold
		display block
		text-align center
		padding-bottom 30px
		&.m--gris
			color gris
	&__subtitulo-mobile
		display none

	@media (max-width 900px)
		&__festividad-detalle
			&__imagen
				width 400px
			&__contenido
				padding-left 20px

	@media (max-width 810px)
		&__festividad-detalle
			&__imagen
				width 320px
		&__subtitulo
			display none
		&__subtitulo-mobile
			display block
			padding-bottom 20px

	@media (max-width 700px)
		&__festividad-detalle
			flex-wrap wrap
			text-align center
			&__imagen
				width 100%
				max-width 510px
				margin 0 auto 20px
			&__contenido
				padding 0
			.destinos__detalle
				text-align left
				&__header
					padding-bottom 3px
				&__titulo
					font-size 1.5rem
				&__fecha
					font-size 1.05rem
			.boton
				display inline-flex

	@media (max-width 600px)
		&__detalle
			&__slider
				.swiper-container
					height 300px
			&__tags
				padding-top 20px
				strong, a
					padding 9px 15px 7px
			&__footer
				padding-top 25px
			&__me-gusta
				span
					width 40px
					height 40px
			&__redes
				width  30px
				height 30px
				font-size 1rem
				&.m--wsp
					font-size 1.2rem



/* 404 */
.page-404
	background url('/assets/images/bg-404.jpg') no-repeat center center / cover

	&__titulo
		color morado
		font-size 8rem
		font-family f-bbold

	&__subtitulo
		color morado
		font-size 1.75rem
		max-width 600px
		padding 20px 0 30px

	&__codigo
		color #636363
		font-family f-bold
		font-size 1.375rem
		text-transform uppercase

	&__texto
		font-family f-news
		font-size 1.125rem
		display block
		padding 50px 0 40px

	&__enlaces
		display flex
		justify-content space-between
		flex-wrap wrap
		.__tres
		.__dos
			width 100%
		.__dos
			display none

		@media (max-width 1000px)
			justify-content space-around
			.__tres
				display none
			.__dos
				display block
		@media (max-width 700px)
			flex-direction column
			justify-content center
			align-items center
			.__tres, .__dos
				display none

	&__enlace
		background-color #fff
		box-shadow 2px 2px 8px 0 rgba(202, 202, 202, 0.5)
		border-top-right-radius 22px
		border-bottom-left-radius 22px
		height 98px
		max-width 310px
		color #999
		margin 17px 0
		padding 0 20px

		flex 1 1 auto
		display flex
		align-items center
		justify-content space-bettwen
		strong
			font-size 1.3rem
			font-family f-bold
			padding-left 15px

		img:last-of-type
			margin-left auto
			width 50px

		&.m--celeste
			color #3caea3
		&.m--verde
			color #4fb700
		&.m--azul
			color #0071bc
		&.m--amarillo
			color #f2b30c
		&.m--naranja
			color #ff5600
		&.m--rojo
			color #e03b3d

		@media (max-width 700px)
			flex auto
			width 100%

	@media (max-width 810px)

		&__titulo
			font-size 5rem
		&__subtitulo
			font-size 1.5rem
			max-width 100%
			padding 15px 0 20px
		&__codigo
			font-size 1.2rem
		&__texto
			padding 30px 0 20px


	@media (max-width 500px)

		&__titulo
			font-size 3.5rem
		&__subtitulo
			font-size 1.1rem
			max-width 100%
			padding 15px 0 20px
		&__codigo
			font-size 1rem
		&__texto
			padding 30px 0 15px
			font-size 0.95rem
		&__enlace
			margin 7.5px 0
			strong
				font-size 1.15rem

/* Gracias */
.page-gracias

	&__icono
		margin 40px auto 10px

	&__titulo
		color morado
		font-size 2.2rem
		padding 20px 0 0
		text-align center
		font-family f-bold

	&__texto
		font-family f-news
		font-size 1.125rem
		display block
		padding 20px 0 50px
		text-align center

	@media (max-width 600px)
		&__icono
			width 100px
		&__titulo
			font-size 1.7rem
		&__texto
			font-size 1rem
			padding 10px 0 30px

	@media (max-width 400px)
		&__icono
			width 80px
			margin 20px auto 5px
		&__titulo
			font-size 1.3rem
		&__texto
			font-size 0.9rem
			padding 10px 0 20px


/* turismo comunitario */
.turismo-comunitario-detalle__resumen {
    font-size: 14px;
    padding: 0 0 55px;
    color: #636363;
    text-align: center;
    line-height: 1.3;
}

.turismo-comunitario-detalle__bloque {
    width: 100%;
    position: relative;
}

.turismo-comunitario-detalle__bloque-wrapper {
	width: 100%;
    position: relative;
    font-size: 0;
}

.turismo-comunitario-detalle__bloque-left {
    width: 455px;
    margin-right: 45px;
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}

.turismo-comunitario-detalle__bloque-slider-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 315px;
    border-radius: 12px;
}

.turismo-comunitario-detalle__bloque-slider-overlay {
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.3));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
}

.turismo-comunitario-detalle__bloque-left .swiper-container, .turismo-comunitario-detalle__bloque-left .swiper-wrapper, .turismo-comunitario-detalle__bloque-left .swiper-slide {
    width: 100%;
    height: 315px;
    position: relative;
    border-radius: 12px;
}

.swiper-button-next:after, .swiper-button-prev:after {
	content: none;
}

.SliderBloqueTCD__right, .SliderBloqueTCD__left {
	width: 35px;
}

.SliderBloqueTCD__right img, .SliderBloqueTCD__left img {
	width: 100%;
}

.fnSliderBloqueTCD .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #fff;
    opacity: .45;
    margin: 0 7px !important;
}

.fnSliderBloqueTCD .swiper-pagination-bullet-active {
	color: #fff;
	opacity: 1;
}

.turismo-comunitario-detalle__bloque-right {
    width: calc(100% - 500px);
    display: inline-block;
    vertical-align: middle;
}

.turismo-comunitario-detalle__bloque-right-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0;
}

.turismo-comunitario-detalle__bloque-right-item:first-child {
	padding-bottom: 25px;
}

.turismo-comunitario-detalle__bloque-right-item h4 {
    font-family: 'ClanOffc-Bold';
    padding-bottom: 20px;
    font-size: 18px;
    color: #990564;
    text-align: left;
    line-height: 1.3;
    display: block;
}

.turismo-comunitario-detalle__bloque-right-item-list ul {
    position: relative;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.turismo-comunitario-detalle__bloque-right-item-list ul li {
    color: #979797;
    font-size: 12px;
    padding-bottom: 15px;
    text-align: left;
    line-height: 1.3;
}

.turismo-comunitario-detalle__bloque-right-item-list ul:first-child li {
    padding-right: 20px;
}

.turismo-comunitario-detalle__bloque-right-item-list ul li:last-child {
    padding-bottom: 0;
}

.turismo-comunitario-detalle__bloque-right-item-list ul li::before {
  content: "\2022";
  color: #990564;
  font-weight: bold;
  display: inline-block;
  width: 18px;
}

.turismo-comunitario-detalle__iconos {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 80px;
    font-size: 0;
    text-align: center;
}

.turismo-comunitario-detalle__iconos-item {
    display: inline-block;
    width: calc(100% / 5);
    vertical-align: top;
    position: relative;
}

.turismo-comunitario-detalle__iconos-item::before {
	position: absolute;
	content: " ";
	width: 1px;
	height: 145px;
	background: #d5d5d5;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.turismo-comunitario-detalle__iconos-item:last-child::before {
	content: none;
}

.turismo-comunitario-detalle__iconos-item-wrapper {
    padding: 0 30px;
    position: relative;
    display: block;
}

.turismo-comunitario-detalle__iconos-item-wrapper img {
    width: 60px;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.turismo-comunitario-detalle__iconos-item-wrapper p {
    font-size: 14px;
    padding-bottom: 12px;
    color: #636363;
    text-align: center;
    line-height: 1.3;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--amarillo {
	color: #f0b126;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--azul {
	color: #0094d1;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--verde {
	color: #33ab9f;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--morado {
	color: #811063;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--verde-hoja {
	color: #77b822;
}

.turismo-comunitario-detalle__iconos-item-wrapper .p--m {
	font-size: 13px;
}

.turismo-comunitario-detalle__iconos-item-wrapper .boton.m--pequeno {
    min-height: 36px;
    border-radius: 16px;
    font-size: 13px;
}

.turismo-comunitario-detalle__iconos-item-wrapper .boton {
    padding: 0 20px;
    width: 100%;
}

.boton.m--azul {
    background-color: #0094d1;
}

.popup__contenido-titulo {
    display: block;
    position: relative;
    font-size: 0;
}

.popup__contenido-titulo img {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.popup__contenido-titulo p {
    font-size: 17px;
    font-family: 'ClanOffc-Bold';
    padding: 0;
    color: #333;
    text-align: left;
    line-height: 1.3;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 65px);
}

.popup--amarillo .popup__contenido-titulo p {
	color: #f0b126;
}

.popup--azul .popup__contenido-titulo p {
	color: #0094d1;
}

.popup--verde .popup__contenido-titulo p {
	color: #33ab9f;
}

.popup--morado .popup__contenido-titulo p {
	color: #811063;
}

.popup--verde-hoja .popup__contenido-titulo p {
	color: #77b822;
}

.popup__contenido-parrafo {
    display: block;
    position: relative;
    padding: 0 20px;
    padding-top: 25px;
    font-size: 0;
}

.popup__contenido-parrafo-uno {
    width: 100%;
    display: block;
    position: relative;
}

.popup__contenido-parrafo-dos {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.popup__contenido-parrafo-dos:nth-child(1) {
	padding-right: 20px;
}

.popup__contenido-parrafo-dos:nth-child(2) {
	padding-left: 20px;
}

.popup__contenido-parrafo p {
    font-size: 14px;
    font-family: 'ClanOffc-Bold';
    padding: 0;
    color: #636363;
    text-align: left;
    line-height: 1.3;
}

.popup__contenido-parrafo ul {
    display: block;
    position: relative;
    padding-top: 0;
}

.popup__contenido-parrafo ul li {
	color: #979797;
    font-size: 14px;
    padding-top: 15px;
    text-align: left;
    line-height: 1.3;
}

.popup__contenido-parrafo ul li span {
    display: block;
    padding-bottom: 3px;
    font-size: 13px;
    color: #979797;
    font-family: 'ClanOffc-Bold';
}

.popup__contenido-parrafo ul li label {
    display: block;
}

.popup__contenido .box__cerrar {
    width: 20px;
}

@media only screen and (max-width: 480px) {
    .turismo-comunitario-detalle__resumen {
        width: 80%;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 80%;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 90%;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: 100%;
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 100%;
        margin-right: 0;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper p {
        font-size: 13px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .boton.m--pequeno {
        font-size: 12.5px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper {
        padding: 0 20px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .turismo-comunitario-detalle__bloque-right-item h4 {
        font-size: 16px;
    }

    .turismo-comunitario-detalle__bloque-slider-bg {
        height: 300px;
    }

    .turismo-comunitario-detalle__resumen {
        padding: 0 0 25px;
        font-size: 13px;
    }

    .turismo-comunitario-detalle__iconos {
        padding-top: 55px;
    }

    .turismo-comunitario-detalle__iconos-item {
        width: calc(100% / 2);
    }

    .turismo-comunitario-detalle__iconos-item:nth-last-child(1), .turismo-comunitario-detalle__iconos-item:nth-last-child(2), .turismo-comunitario-detalle__iconos-item:nth-last-child(3) {
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-right-item {
        padding: 0;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item:first-child {
        padding-bottom: 25px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child {
        margin-bottom: 15px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul {
        position: relative;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child li {
        padding-right: 0;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:last-child li {
        padding-right: 0;
    }

    .turismo-comunitario-detalle__iconos-item:nth-child(2)::before {
        content: none;
    }

    .turismo-comunitario-detalle__iconos-item:nth-child(4)::before {
        content: none;
    }

    .popup__contenido-titulo img {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 15px;
        display: block;
    }

    .popup__contenido-titulo p {
        font-size: 16px;
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .popup__contenido-parrafo-dos {
        width: 100%;
        display: block;
    }

    .popup__contenido-parrafo-dos:nth-child(1) {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .popup__contenido-parrafo-dos:nth-child(2) {
        padding-left: 0;
    }

    .popup__contenido-parrafo p {
        font-size: 13px;
        text-align: center;
    }

    .popup__contenido-parrafo ul li {
        font-size: 13px;
        text-align: center;
    }
}
@media only screen and (min-width: 481px) and (max-width: 599px) {
    .turismo-comunitario-detalle__resumen {
        width: 400px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 400px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 400px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: 100%;
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 100%;
        margin-right: 0;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper p {
        font-size: 13px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .boton.m--pequeno {
        font-size: 12.5px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper {
        padding: 0 25px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: -7px;
    }

    .turismo-comunitario-detalle__bloque-right-item h4 {
        font-size: 16px;
    }

    .turismo-comunitario-detalle__bloque-slider-bg {
        height: 300px;
    }

    .turismo-comunitario-detalle__resumen {
        padding: 0 0 25px;
    }

    .turismo-comunitario-detalle__iconos {
        padding-top: 55px;
    }

    .turismo-comunitario-detalle__iconos-item {
        width: calc(100% / 2);
    }

    .turismo-comunitario-detalle__iconos-item:nth-last-child(1), .turismo-comunitario-detalle__iconos-item:nth-last-child(2), .turismo-comunitario-detalle__iconos-item:nth-last-child(3) {
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-right-item {
        padding: 0;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item:first-child {
        padding-bottom: 25px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child {
        margin-bottom: 15px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul {
        position: relative;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child li {
        padding-right: 20px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:last-child li {
        padding-right: 20px;
    }

    .turismo-comunitario-detalle__iconos-item:nth-child(2)::before {
        content: none;
    }

    .turismo-comunitario-detalle__iconos-item:nth-child(4)::before {
        content: none;
    }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .turismo-comunitario-detalle__resumen {
        width: 500px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 500px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 500px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: 100%;
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 100%;
        margin-right: 0;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper p {
        font-size: 13px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .boton.m--pequeno {
        font-size: 12.5px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper {
        padding: 0 25px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: -7px;
    }

    .turismo-comunitario-detalle__bloque-right-item h4 {
        font-size: 16px;
    }

    .turismo-comunitario-detalle__bloque-slider-bg {
        height: 300px;
    }

    .turismo-comunitario-detalle__resumen {
        padding: 0 0 25px;
    }

    .turismo-comunitario-detalle__iconos {
        padding-top: 55px;
    }

    .turismo-comunitario-detalle__iconos-item {
        width: calc(100% / 3);
    }

    .turismo-comunitario-detalle__iconos-item:nth-last-child(1), .turismo-comunitario-detalle__iconos-item:nth-last-child(2) {
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-right-item {
        padding: 0;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item:first-child {
        padding-bottom: 0;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child {
        margin-bottom: 15px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul {
        position: relative;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child li {
        padding-right: 20px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:last-child li {
        padding-right: 20px;
    }

    .turismo-comunitario-detalle__iconos-item:nth-child(3)::before {
        content: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .turismo-comunitario-detalle__resumen {
        width: 600px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 600px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 700px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: 100%;
        margin-top: 40px;
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 100%;
        margin-right: 0;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper p {
        font-size: 13px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .boton.m--pequeno {
        font-size: 12.5px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper {
        padding: 0 15px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: -7px;
    }

    .turismo-comunitario-detalle__bloque-right-item h4 {
        font-size: 16px;
    }

    .turismo-comunitario-detalle__bloque-slider-bg {
        height: 300px;
    }

    .turismo-comunitario-detalle__resumen {
        padding: 0 0 25px;
    }

    .turismo-comunitario-detalle__iconos {
        padding-top: 70px;
    }

    .turismo-comunitario-detalle__bloque-right-item {
        padding: 0;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item:first-child {
        padding-bottom: 0;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child {
        margin-bottom: 15px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul {
        position: relative;
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:first-child li {
        padding-right: 20px;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul:last-child li {
        padding-right: 20px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1099px) {
    .turismo-comunitario-detalle__resumen {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: calc(100% - 395px);
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 355px;
        margin-right: 40px;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: -7px;
        margin-bottom: -7px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1199px) {
    .turismo-comunitario-detalle__resumen {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__iconos {
        width: 900px;
        margin: 0 auto;
    }

    .turismo-comunitario-detalle__bloque-right-item-list ul li::before {
        margin-right: -5px;
    }

    .turismo-comunitario-detalle__bloque-right {
        width: calc(100% - 395px);
    }

    .turismo-comunitario-detalle__bloque-left {
        width: 355px;
        margin-right: 40px;
    }

    .SliderBloqueTCD__right, .SliderBloqueTCD__left {
        width: 30px;
    }

    .fnSliderBloqueTCD .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper img {
        width: 55px;
        height: 75px;
    }

    .turismo-comunitario-detalle__iconos-item-wrapper .p--m {
        font-size: 13px;
        margin-top: -7px;
        margin-bottom: -7px;
    }
}

@media (max-width 980px)
	.turismo-comunitario-detalle__bloque-left
		.swiper-container, .swiper-wrapper, .swiper-slide
			height 300px


/* Formularios */
.form
	&__contenido
		max-width 830px
		margin auto
		display flex
		flex-wrap wrap
		justify-content space-between
		&__titulo
			display block
			width 100%
			font-size 1.5rem
			padding-bottom 10px
			&.m--sub
				margin-top 35px
	&__label
		flex 1 1 50%
		padding 15px 5px
		&__titulo
			display block
			font-family f-news
			font-size 1.125rem
			padding-bottom 5px
			max-width 395px
	&__input
		display block
		width 100%
		max-width 395px
		height 51px
		border 1px solid #979797
		border-radius 4px
		input, select, span
			width 100%
			height 100%
			border 0
			padding 0 15px
			font-family f-news
			border-radius 4px

		&.-focus-, &.m--select.-focus-
			border-color verde
			&:after
				border-color verde
		&.-error-
			border-color red

		&.m--dia, &.m--mes, &.m--anio
			width 64px
			margin-right 12px
			font-size 1.06rem
			input
				text-align center
				letter-spacing 1px
		&.m--anio
			width 100px

		&.m--select
			position relative
			&:after
				content ''
				display block
				width 16px
				height 16px
				border-left 1.5px solid #777
				border-bottom .51px solid #777
				position absolute
				top 50%
				margin-top -12px
				right 18px
				transform rotate(-45deg)
			span
				position absolute
				z-index 0
				top 0
				left 0
				display flex
				align-items center
			select
				opacity 0

		&-fecha
			display flex

		&-radios
			height 51px
			display flex
			align-items center
			.form
				&__input
					width 23px
					height 23px
					margin-right 10px
					display flex
					text-align center
					justify-content center
					i
						line-height 1.227rem
						font-size 0.95rem
						opacity 0
					&__radio
						cursor pointer
						display flex
						font-family f-news
						align-items center
						margin-right 30px
						&:last-of-type
							margin-right 0
						&.-error-
							.form__input
								border-color red
			input
				display none
			input:checked + .form__input
				border-color verde
				color verde
				i
					opacity 1
			&.m--terminos
				width 100%
				justify-content center
				padding 25px 0 40px
				.form__input
					width 18px
					height 18px
					i
						font-size 0.8rem
						line-height 1.1rem
					&__radio
						font-size 0.75rem
						margin 0
						a
							color celeste

	&__checkboxes
		padding 15px 0 50px

	&__checkbox-boton
		input
			display none
		.boton.m--filtro
			width 150px
			margin-right 10px
			strong
				font-size 0.9rem
				color #333
		input:checked + .boton, input:checked:hover + .boton
			background-color morado
			border-color morado
			opacity 1
			&:before
				background-color morado
			strong
				color #fff !important

	&__recaptcha
		margin 0 auto
		display block
	.rc-anchor-normal
		width 100%
		max-width 300px


	@media (max-width 600px)

		&__label
			flex 100%
			padding 10px 0
		&__input
			max-width inherit

		&__checkbox-boton
			.boton.m--filtro
				margin 5px 5px 5px 0


	@media (max-width 500px)

		&__contenido
			&__titulo
				font-size 1.25rem
				&.m--sub
					margin-top 20px
		&__label
			&__titulo
				font-size 1.05rem
		&__input
			height 40px
			&-radios
				&.m--terminos
					padding 20px 0 25px
		&__checkboxes
			padding 5px 0 25px
		&__checkbox-boton
			.boton.m--filtro
				padding 0
				width 137px


	@media (max-width 400px)

		&__contenido
			&__titulo
				font-size 1.2rem