.page

	&__header
		height 480px
		width 100%
		padding-top 120px
		color #fff
		background #ccc no-repeat center center / cover

		&__inset
			position relative
			min-height 100%
			display flex
			flex-direction column
			justify-content center
			align-items center

		&__miga-de-pan
			color #fff
			font-size 0.95rem
			font-family f-bold
			position absolute
			top 0
			left 15px
			display flex
			align-items center
			span
				padding-left 10px
				text-shadow 0 1px 1px rgba(0,0,0,.75)

		&__titulo
			font-size 3rem
			font-family f-bold
			padding 0 0 15px
			text-shadow 0 3px 5px rgba(0,0,0,0.25)
			text-align center

		&__resumen
			max-width 570px
			text-align center

		&__form
			position relative
			width 100%
			max-width 420px
			height 52px
			background-color #fff
			border-radius 52px

			&__input
				width 200px
				height 100%
				border 0
				padding 0 20px
				background-color transparent

			&__selector
				position absolute
				top 0
				right 0
				height 100%
				padding 0 20px

				display flex
				align-items center
				justify-content flex-end

				&__select
					position absolute
					top 0
					right 0
					width 100%
					height 100%
					opacity 0
					outline none

				&__contenido
					color morado
					font-family f-bbold
					line-height 1
					&:after
						content ' >'

				&__boton
					display none

		&.m--ofertas
			.page__header
				&__inset
					align-items flex-start
				&__titulo
					font-size 2.3rem
					text-align left

		&.m--destinos-nivel-4
			.page__header__titulo
				font-size 2.25rem

		&.m--blog
			.page__header
				&__titulo
					font-size 2.625rem
				&__subtitulo
					font-size 1.25rem
					font-family f-bold
					text-transform uppercase
					padding 20px 0 15px
					text-align center
			.filtro-selector__select-ui
				display flex

		&.m--limpio
			background-color #fff
			height 140px
			.page__header__miga-de-pan
				color verde
				span
					text-shadow none

		&.m--bg-black
			position relative
			&:before
				content ''
				width 100%
				height 100%
				background-color rgba(0,0,0,.25)
				position absolute
				top 0
				left 0

	@media (max-width 810px)

		&__header
			padding-top 65px
			height 400px

			&.m--ofertas
				.page__header__titulo
					font-size 2rem

			&.m--limpio
				height 70px

	@media (max-width 680px)

		&__header
			&__titulo
				font-size 2.5rem
			&.m--destinos-nivel-4
				.page__header__titulo
					font-size 1.85rem

	@media (max-width 500px)

		&__header

			&__titulo
				font-size 2rem

			&.m--ofertas
				.page__header__titulo
					font-size 1.6rem
			&.m--destinos-nivel-4
				.page__header__titulo
					font-size 1.6rem

@media (max-width 1200px)
	.seccion.m--slider-standard
		.destinos__detalle__slider__flecha
			display none



/* Rutas Cortas */
.rutas-cortas

	&__buscador
		text-align center

		&__titulo
			font-size 1.875rem
			font-family f-bbold

		&__resumen
			font-size 0.875rem
			max-width 780px
			margin auto
			padding 20px 0 45px
			color #787878
			line-height 1.3

		&__form
			width 90%
			max-width 460px
			margin 0 auto 60px
			position relative

			&__lupa
				position absolute
				top 50%
				margin-top -11px
				left 10px

			&__input
				width 100%
				border 0
				border-bottom 2px solid #979797
				height 40px
				font-size 1.125rem
				line-height 1.125rem
				color verde
				padding 0 20px 0 45px
				transition border-color ease .25s

				&:focus
					border-color verde

			&__boton
				display none

	@media (max-width 600px)

		&__buscador

			&__titulo
				font-size 1.5rem

			&__resumen
				padding 20px 0
				font-size 0.8rem

			&__form
				margin-bottom 40px


/* Destinos */
.destinos
	&-nivel3
		&__listado
			.card-info
				margin 0 auto 20px
			.boton-contenedor
				padding-top 25px

	&__festividad-detalle
		display flex
		align-items flex-start
		&__imagen
			width 510px
			height auto
			object-fit cover
			border-radius 12px
		&__contenido
			padding-left 35px
		.destinos__detalle
			&__tags
				padding-top 10px
			&__footer
				padding 20px 0

	&__detalle
		color #636363
		font-family f-book
		max-width 820px
		margin 0 auto
		text-align justify
		h2
			font-size 1.3rem
			padding-top 10px
		p, li
			line-height 1.4
			padding 10px 0
			margin 0 !important
		ul, li
			margin 0 !important
		strong
			font-weight 600
		a
			color celeste
			font-family f-bold
			&:hover
				text-decoration underline
		&__header
			padding-bottom 15px
		&__lugar
			color verde
			font-family f-bold
			font-size 0.85rem
		&__titulo
			font-family f-bbold
			font-size 1.75rem
			padding 3px 0
			color #787878
		&__fecha
			font-size 1.25rem
			text-transform uppercase
		&__slider
			margin 20px 0
			position relative
			.swiper-container
				width 100%
				height 366px
				box-shadow 8px 10px 35px 0 rgba(0, 0, 0, 0.22)
				border-radius 12px
				img
					width 100%
					height 100%
					object-fit cover
			.swiper-pagination
				position static
				width 100%
				text-align center
				left 0
				padding-top 15px
			.swiper-pagination-bullet
				margin 0 5px
				width 11px
				height 11px
				background-color #d8d8d8
				opacity 1
				cursor pointer
				outline none
				&.swiper-pagination-bullet-active
					background-color #636363
			&__flecha
				width 10px
				height 40px
				position absolute
				top 50%
				margin-top -20px
				cursor pointer
				outline none
				&:before, &:after
					content ''
					display block
					width 2px
					height 20px
					background-color amarillo
					position absolute
					left 5px
				&:before
					top 1px
					transform rotate(25deg)
				&:after
					bottom 1px
					transform rotate(-25deg)
				&.m--left
					left -30px
				&.m--right
					right -30px
					transform rotate(-180deg)
		&__tags
			padding-top 30px
			display none
			strong, a
				font-family f-medium
				display inline-block
				background-color amarillo
				color #fff
				line-height 1
				margin 0 5px 7px 0
				font-size 0.875rem
				padding 10px 25px
				border-radius 8px
		&__footer
			color #636363
			max-width 820px
			margin 0 auto
			padding-top 50px
			display flex
			justify-content flex-end
		&__me-gusta
			margin-right auto
			font-size 1.3rem
			font-family f-book
			cursor pointer
			display none
			span
				width 50px
				height 50px
				border 1px solid gris
				border-radius 50%
				display inline-flex
				align-items center
				justify-content center
				transform scaleX(-1)
		&__redes
			color #fff
			width 36px
			height 36px
			border-radius 50%
			font-size 1.25rem
			display flex
			align-items center
			justify-content center
			margin-left 10px
			transition all ease .25s
			&:hover
				transform translateY(-2px)
				box-shadow 0 5px 3px rgba(0,0,0,.4)
			&.m--facebook
				background-color #4d82c8
			&.m--twitter
				background-color #00bef1
			&.m--wsp
				background-color #00b27e
				font-size 1.4rem
				i
					margin-right -2.5px

	&__subtitulo
	&__subtitulo-mobile
		color amarillo
		font-size 1.875rem
		font-family f-bold
		display block
		text-align center
		padding-bottom 30px
	&__subtitulo-mobile
		display none

	@media (max-width 900px)
		&__festividad-detalle
			&__imagen
				width 400px
			&__contenido
				padding-left 20px

	@media (max-width 810px)
		&__festividad-detalle
			&__imagen
				width 320px
		&__subtitulo
			display none
		&__subtitulo-mobile
			display block
			padding-bottom 20px

	@media (max-width 700px)
		&__festividad-detalle
			flex-wrap wrap
			text-align center
			&__imagen
				width 100%
				max-width 510px
				margin 0 auto 20px
			&__contenido
				padding 0
			.destinos__detalle
				text-align left
				&__header
					padding-bottom 3px
				&__titulo
					font-size 1.5rem
				&__fecha
					font-size 1.05rem
			.boton
				display inline-flex

	@media (max-width 600px)
		&__detalle
			&__slider
				.swiper-container
					height 300px
			&__tags
				padding-top 20px
				strong, a
					padding 9px 15px 7px
			&__footer
				padding-top 25px
			&__me-gusta
				span
					width 40px
					height 40px
			&__redes
				width  30px
				height 30px
				font-size 1rem
				&.m--wsp
					font-size 1.2rem



/* Blog */