@import 'magnific-popup.min.css'
@import 'leaflet.min.css'
@import 'leaflet.extra-markers.min.css'
@import 'global.min.css'
@import 'loading.min.css'
@import 'route.min.css'


.wrapper-first-right-header-buttons-left
	.wrapper-first-right-header-buttons-item
		ul
			li
				display inline-flex
				align-items center
				justify-content center

