
@{
    ViewBag.Title = "gracias";
}


<section class="page__header" style="background-image: url('/assets/images/rutas-cortas-3.jpg');">
    <div class="limit page__header__inset">
        <a href="#" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Suscríbete</h2>
        <p class="page__header__resumen">Recibe las últimas novedades sobre destinos, ofertas y promociones que el Perú te ofrece.</p>
    </div>
</section>

<div id="box-gracias" >
    <div class="box__inset">
        <span class="bg-cerrar fnToggleClass" data-removes="#box-gracias"></span>
        <div class="box__contenido m--center">
            <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
            <h6 class="box__titulo">¡Gracias por suscribirte!</h6>
            <p>
                Te suscribiste a ytuqueplanes.com
            </p>
            <p>
                Ahora podrás enterarte de nuestras novedades.
            </p>
            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#box-gracias">
        </div>
    </div>
</div>

