
@{
    ViewBag.Title = "";
}


<!-- Formulario -->

<section class="page__header" style="background-image: url('/assets/images/rutas-cortas-3.jpg');">
    <div class="limit page__header__inset">
        <a href="/" class="page__header__miga-de-pan"><img src="/assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Suscríbete</h2>
        <p class="page__header__resumen">Recibe las últimas novedades sobre destinos, ofertas y promociones que el Perú te ofrece.</p>
    </div>
</section>

<section class="seccion">
    <div class="limit">
        <form method="post" class="form__contenido" action="/suscribete/gracias" data-tipo="postpermit" autocomplete="on">
            <h3 class="form__contenido__titulo">Ingresa tus datos</h3>
            <label class="form__label">
                <strong class="form__label__titulo">Nombres</strong>
                <div class="form__input">
                    <input type="text" name="name" required>
                </div>
            </label>
            <label class="form__label">
                <strong class="form__label__titulo">Apellidos</strong>
                <div class="form__input">
                    <input type="text" name="lastname" required>
                </div>
            </label>
            <label class="form__label">
                <strong class="form__label__titulo">Correo electrónico</strong>
                <div class="form__input">
                    <input type="email" name="email" valid="email" required>
                </div>
            </label>
            <div class="form__label">
                <strong class="form__label__titulo">Género</strong>
                <span class="form__input-radios">
                    <label class="form__input__radio">
                        <input type="radio" name="sexo" value="Masculino" required>
                        <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Masculino
                    </label>
                    <label class="form__input__radio">
                        <input type="radio" name="sexo" value="Femenino" required>
                        <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                        Femenino
                    </label>
                </span>
            </div>
            <div class="form__label">
                <strong class="form__label__titulo">Fecha de nacimiento</strong>
                <span class="form__input-fecha">
                    <label class="form__input m--dia">
                        <input type="tel" name="dia" placeholder="DD" maxlength="2" valid="numero">
                    </label>
                    <label class="form__input m--mes">
                        <input type="tel" name="mes" placeholder="MM" maxlength="2" valid="numero">
                    </label>
                    <label class="form__input m--anio">
                        <input type="tel" name="anio" placeholder="AAAA" maxlength="4" valid="numero">
                    </label>
                </span>
            </div>
            <label class="form__label">
                <strong class="form__label__titulo">Región donde vives</strong>
                <div class="form__input m--select">
                    <span class="fnTargetSelect">Seleccionar</span>
                    <select name="provincia" class="fnSelect">
                        <option value="">Seleccionar</option>
                        @{
                            string[] opts = { "Amazonas", "Áncash", "Apurímac", "Arequipa", "Ayacucho", "Cajamarca", "cajamarca", "norte", "Cusco", "Huancavelíca", "Huánuco", "Ica", "Junín", "La Libertad", "Lambayeque", "Lima", "Loreto", "Madre De Dios", "Moquegua", "Pasco", "Piura", "Puno", "San Martín", "Tacna", "Tumbes", "Ucayali" };
                        }
                        @foreach (var opt in opts)
                        {
                            <option value="@opt">@opt</option>
                        }
                    </select>
                </div>
            </label>
            <h3 class="form__contenido__titulo m--sub">Actividades de interés</h3>
            <div class="form__checkboxes">
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Aventura" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Aventura</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Vivencial" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Vivencial</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Descanso" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Descanso</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Naturaleza" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Naturaleza</strong></span>
                </label>
                <label class="form__checkbox-boton">
                    <input type="checkbox" value="Historia" name="act[]">
                    <span class="boton m--filtro m--mediano m--morado"><strong>Historia</strong></span>
                </label>
            </div>
             @* <div class="g-recaptcha form__recaptcha" data-sitekey="6Lc9xcYZAAAAAEfhtw_CbD0ScVJSMT9p1kWgLylP"></div> *@
             <div class="g-recaptcha form__recaptcha" data-sitekey="6LdobcUZAAAAAJW3wlW5SJXPdUqJEbYP1cpc9fiY"></div>
            <span class="form__input-radios m--terminos">
                <label class="form__input__radio">
                    <input type="checkbox" name="terminos" value="terminos" checked="checked" valid="terminos">
                    <span class="form__input"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span>He leído y acepto los <a href="#" target="_blank" class="fnToggleClass" data-targets="#terminos-y-condiciones"> términos y condiciones</a></span>
                </label>
            </span>

            <div class="boton-contenedor">
                <button type="submit" data-tipo="postpermit" class="boton m--grande m--crema"><strong>Suscribirse</strong></button>
            </div>
        </form>
    </div>
</section>

<div id="terminos-y-condiciones" class="box">
    <div class="box__inset">
        <span class="bg-cerrar fnToggleClass" data-removes="#terminos-y-condiciones"></span>
        <div class="box__contenido">
            <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
            <h6 class="box__titulo">Términos & Condiciones</h6>
            <p>En la Comisión de Promoción del Perú para la Exportación y el Turismo, en adelante PROMPERÚ, somos conscientes de la elevada consideración que tiene la privacidad de los ciudadanos, exportadores, colaboradores y de todas aquellas personas que se interesan por nuestros productos y servicios. Por tal razón, en conformidad con lo establecido en la Ley N° 29733, Ley de Protección de Datos Personales y/o sus normas reglamentarias, complementarias, modificatorias, sustitutorias y demás disposiciones aplicables (en adelante, “La Ley”), tenemos el compromiso de respetar su privacidad y proteger la confidencialidad de sus datos personales. El objetivo del presente aviso es dar a conocer la manera en que se recogen, se tratan y se protegen los datos personales a los que accedemos en el ejercicio de nuestras funciones y actividades.</p>
            <b>TRATAMIENTO DE DATOS PERSONALES</b>
            <p>Se entiende por tratamiento de datos personales a cualquier operación o procedimiento, automatizado o no, que permite la recopilación, registro, organización, almacenamiento, conservación, elaboración, modificación, consulta, utilización, bloqueo, supresión, comunicación por transferencia o por difusión, o cualquier otra forma de procesamiento que facilite el acceso, correlación o interconexión de los datos personales.</p>
            <p>Los datos personales recopilados por PROMPERÚ, mediante sus diversas plataformas y canales, podrán ser tratados, según aplique, para llevar a cabo las finalidades inherentes a la actividad de la organización, tales como:</p>
            <ul>
                <li>Promoción del Turismo.</li>
                <li>Promoción de las Exportaciones.</li>
                <li>Atención de solicitudes de uso de la Marca Perú.</li>
                <li>Contactabilidad para la absolución de consultas y reclamos.</li>
                <li>Servicios de provisión de información.</li>
                <li>Participación en eventos, sorteos y promociones.</li>
                <li>Control de visitantes.</li>
                <li>Personalizar/mejorar su experiencia en nuestras plataformas.</li>
            </ul>
            <p>Los datos personales son recopilados para los fines expuestos previamente, y no se extenderá a otra finalidad que no haya sido la establecida de manera inequívoca como tal al momento de su recopilación, excluyendo los casos de actividades de valor histórico, estadístico o científico cuando se utilice un procedimiento de disociación o anonimización. Asimismo, PROMPERÚ prohíbe la recopilación de los datos personales por medios fraudulentos, desleales o ilícitos.</p>
            <b>CONSENTIMIENTO</b>
            <p>PROMPERÚ no realizará tratamiento sobre datos personales obtenidos sin el consentimiento libre, previo, expreso e informado del titular de los datos personales. Es responsabilidad del titular de los datos personales leer detenidamente el presente Aviso de Privacidad, debido a que, mediante su aceptación, usted otorga el consentimiento para el tratamiento de los datos acorde a las finalidades expuestas.</p>

            <b>COMUNICACIÓN DE DATOS PERSONALES</b>
            <p>Los datos personales proporcionados no serán remitidos a terceros ajenos a PROMPERÚ, salvo que se trate de un tercero encargado del tratamiento, conforme a lo indicado en el numeral 10 del artículo 2 de La Ley, bajo condiciones de seguridad y confidencialidad de la información, o cuando por mandato de la Ley o resolución judicial, PROMPERÚ se encuentre obligada a comunicar dicha información a entidades públicas, autoridades judiciales y/o policiales, y otros terceros legitimados.</p>

            <b>SEGURIDAD DE LOS DATOS PERSONALES</b>
            <p>En cumplimiento de la normativa vigente, PROMPERÚ adopta las medidas técnicas apropiadas y necesarias para mantener el nivel de seguridad requerido, con el objetivo de evitar la alteración, pérdida, el tratamiento o acceso no autorizado que puedan afectar a la integridad, confidencialidad y disponibilidad de los datos personales. Para ello, tiene en cuenta el estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a los que están expuestos, ya sea que provengan de la acción humana, o del medio físico o natural, tal y como lo establece la Ley.</p>

            <b>USO DE COOKIES Y PRIVACIDAD EN PLATAFORMAS WEB</b>
            <p>Con la finalidad de personalizar/mejorar la experiencia de los usuarios de nuestras plataformas web, PROMPERÚ podrá emplear cookies, web beacons o tecnologías similares de recolección de datos. La información recolectada en este proceso incluye, a título enunciativo, más no limitativo:</p>
            <ul>
                <li>La dirección IP de un usuario (Ej. yahoo.com – 192.168.1.1).</li>
                <li>El tipo de navegador web (Ej. Microsoft Internet Explorer) y de sistema operativo (Ej. Windows).</li>
                <li>Las páginas del sitio que un usuario visita.</li>
                <li>Otros sitios web que un usuario ha visitado antes de visitar el nuestro.</li>
            </ul>
            <p>Las cookies no recopilan, ni contienen su nombre o dirección de correo electrónico. Además, el usuario tendrá la opción de desactivarlas mediante la configuración de su navegador. Se debe tener en cuenta que, al desactivar las cookies, quizás no pueda utilizar algunas funciones personalizadas de nuestras plataformas web.</p>
            <p>Las web beacons son gráficos de 1×1, de un solo pixel, que permiten contar el número de usuarios que han visitado una página web en particular, o bien obtenido acceso a determinadas cookies. Podemos usar los web beacons en para contar los usuarios, así como para reconocer a los mismos al obtener acceso a nuestras cookies. Al igual que las cookies, los web beacons no recopilan, ni contienen su nombre o dirección de e-mail.</p>

            <b>REDES SOCIALES</b>
            <p>En el escenario que, para facilitar su registro a nuestras plataformas web, usted emplee una cuenta de Redes Sociales (Ej. Facebook, Twitter), es importante señalar que PROMPERÚ podrá acceder a los datos que usted haya dispuesto en estos servicios, incluyendo información de sus contactos.</p>

            <p>Su decisión de usar los servicios de las Redes Sociales es siempre voluntaria; sin embargo, debe asegurarse que está de acuerdo con la información que éstos pueden poner a nuestra disposición, leyendo las políticas de privacidad de estos servicios.</p>

            <b>EJERCICIO DE DERECHOS</b>
            <p>Conforme a la Ley, el titular de los datos personales podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición, enviando su solicitud mediante correo electrónico a la dirección <a href="mailto:datospersonales@promperu.gob.pe">datospersonales@promperu.gob.pe</a>.</p>
            <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#terminos-y-condiciones" />
        </div>
    </div>
</div>