.header-module__wrapper___p3yFB {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	height: 0px;
	position: fixed;
	z-index: 9;
	width: 90%;
	max-width: 1096px;
	top: 15px
}

.header-module__title_single___QuR90 {
	color: #3ba8fc;
	font-size: 13px;
	font-family: ClanOffc
}

.header-module__wrapper_single___2Yaxc {
	background-color: white;
	height: 75px;
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1)
}

.header-module__logo_single___1M5VP {
	width: 55px
}

.header-module__container_single___O8gtw {
	max-width: 900px;
	margin: auto 20px auto 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%
}

.header-module__icon___ao_XS {
	margin-right: 10px
}

.footer-module__wrapper___VHuQU {
	background-color: #f9f9f9
}

.footer-module__content_container___Cba85 {
	display: flex;
	align-items: center;
	padding: 50px 0px 25px 0px;
	min-height: 250px;
	height: 250px
}

.footer-module__content___3f5hY {
	height: 100%;
	width: 100%
}

.footer-module__title___3U-vd {
	font-family: ClanOffc;
	font-size: 14px;
	font-weight: bold;
	color: #636363
}

.footer-module__li___NkCYp {
	font-family: ClanOffc;
	font-size: 12px;
	letter-spacing: 0.3px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer
}

.footer-module__ul___byEh0 {
	margin-top: 25px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 70%
}

.footer-module__icon_fb___26G2_ {
	width: 27px;
	height: 27px;
	background-color: #0e70b9;
	color: white;
	border-radius: 30px;
	margin-right: 15px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center
}

.footer-module__icon_twi___3kvSA {
	width: 27px;
	height: 27px;
	background-color: #3ba8fc;
	color: white;
	border-radius: 30px;
	margin-right: 15px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center
}

.footer-module__icon_ig___1YLaE {
	width: 27px;
	height: 27px;
	background-color: #adafaf;
	color: white;
	border-radius: 30px;
	margin-right: 15px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center
}

.footer-module__icon_yt___koz8M {
	width: 27px;
	height: 27px;
	background-color: #e13b3d;
	color: white;
	border-radius: 30px;
	margin-right: 15px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center
}

.footer-module__icon_spo___3YToi {
	width: 27px;
	height: 27px;
	background-color: #84c131;
	color: white;
	border-radius: 30px;
	margin-right: 15px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center
}

.footer-module__content_contact___3JEHz {
	margin-top: 25px
}

.footer-module__social___17oPf {
	margin-top: 25px;
	display: flex
}

.footer-module__img_partner___18x6b {
	max-width: 180px;
	max-height: 30px;
	object-fit: contain;
	margin-right: 15px
}

.footer-module__img_partner_wsp___3cGm_ {
	max-width: 180px;
	max-height: 30px;
	object-fit: contain;
	margin-right: 15px;
	margin-bottom: 6px
}

.footer-module__partner___2LNUH {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 76px
}

.footer-module__subfooter___14_7R {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	flex-wrap: wrap
}

.footer-module__subfooter_link___1ESba {
	font-family: ClanOffc;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	text-align: center;
	line-height: 1.35
}

.footer-module__subfooter_span___CFd97 {
	font-family: ClanOffcNews;
	font-size: 12px;
	font-weight: bold;
	color: #636363
}

.footer-module__hr___AClkP {
	border: none;
	border-bottom: solid 1px #ededed;
	margin: 15px 0px 0px 0px
}

.footer-module__separator___2uwIt {
	height: 40px;
	object-fit: contain;
	margin: 0px 25px 0px 14px;
	border-right: solid 1px #d8d8d8
}

@media (max-width: 992px) {
	.footer-module__content_container___Cba85 {
		flex-wrap: wrap;
		height: auto;
		padding: 10px 0px 25px 0px
	}
	.footer-module__content___3f5hY {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center
	}
	.footer-module__content_contact___3JEHz {
		text-align: center
	}
	.footer-module__img_partner___18x6b {
		margin: 10px 10px 0px 10px
	}
	.footer-module__ul___byEh0 {
		align-items: center;
		height: 80px
	}
	.footer-module__partner___2LNUH {
		margin-top: 25px;
		justify-content: center;
		flex-wrap: wrap
	}
	.footer-module__subfooter___14_7R {
		justify-content: center;
		height: 80px
	}
	.footer-module__subfooter_link___1ESba {
		margin: 0px 5px
	}
	.footer-module__icon_spo___3YToi,
	.footer-module__icon_twi___3kvSA,
	.footer-module__icon_fb___26G2_,
	.footer-module__icon_yt___koz8M,
	.footer-module__icon_ig___1YLaE {
		margin: 0px 7px
	}
	.footer-module__separator___2uwIt {
		margin: 0px 25px
	}
	.footer-module__title___3U-vd {
		text-align: center
	}
}

@media (max-width: 576px) {
	.footer-module__hr___AClkP {
		margin: 15px 0px 15px 0px
	}
	.footer-module__img_partner___18x6b {
		max-width: 93px;
		max-height: 25px
	}
	.footer-module__separator___2uwIt {
		margin: 0px 15px
	}
	.footer-module__img_partner_wsp___3cGm_ {
		max-width: 93px;
		max-height: 25px
	}
}

.newbutton-module__wrapper_home_hero___lSnei {
	width: 180px;
	height: 48px;
	border-radius: 24px;
	background-color: #990564;
	font-family: ClanOffc;
	font-size: 18px;
	font-weight: 500;
	color: white;
	border: solid 2px #990564;
	transition: all 200ms ease-in-out;
	margin-top: 30px;
	cursor: pointer;
	z-index: 9;
	position: relative
}

.newbutton-module__wrapper_home_medidas___3tQjW {
	height: 53px;
	width: 245px;
	border-radius: 24px;
	background-color: #33aba0;
	border: solid 2px #33aba0;
	color: white;
	font-family: ClanOffc;
	font-size: 15px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px auto 0px auto;
	transition: all 200ms ease-in-out;
	cursor: pointer
}

.newbutton-module__wrapper_home_medidas___3tQjW:hover {
	background-color: transparent;
	transition: all 200ms ease-in-out
}

.newbutton-module__wrapper_home_medidas_card___1TvSg {
	width: 103px;
	height: 28.6px;
	border-radius: 23px;
	background-color: #e13b3d;
	font-family: ClanOffc;
	font-size: 10px;
	font-weight: 500;
	color: white;
	cursor: pointer
}

.newbutton-module__wrapper_home_medidas_card_green___2RNjS {
	width: 103px;
	height: 28.6px;
	border-radius: 23px;
	background-color: #84C131;
	font-family: ClanOffc;
	font-size: 10px;
	font-weight: 500;
	color: white;
	cursor: pointer
}

.newbutton-module__wrapper_single_yellow___7N1sS {
	width: 78px;
	height: 27px;
	border-radius: 13.5px;
	background-color: #fed118;
	font-family: ClanOffcNews;
	font-size: 12px;
	font-weight: normal;
	color: white;
	margin-right: 10px;
	cursor: pointer
}

.newbutton-module__wrapper_single_pink___3ka_o {
	width: 78px;
	height: 27px;
	border-radius: 13.5px;
	background-color: #990564;
	font-family: ClanOffcNews;
	font-size: 12px;
	font-weight: normal;
	color: white;
	margin-right: 10px
}

.newbutton-module__wrapper_footer_pink___1DjqV {
	width: 195px;
	height: 40px;
	border-radius: 22.5px;
	background-color: #990564;
	border: solid 2px #990564;
	transition: all 200ms ease-in-out;
	color: white;
	font-family: ClanOffc;
	font-size: 16px;
	margin-top: 25px;
	cursor: pointer
}

.newbutton-module__wrapper_footer_pink___1DjqV:hover {
	background-color: transparent;
	color: #990564;
	transition: all 200ms ease-in-out
}

.newbutton-module__wrapper_footer_green___3pX_p {
	width: 195px;
	height: 40px;
	border-radius: 22.5px;
	background-color: #84c131;
	border: solid 2px #84c131;
	transition: all 200ms ease-in-out;
	color: white;
	font-family: ClanOffc;
	font-size: 16px;
	margin-top: 25px;
	cursor: pointer
}

.newbutton-module__wrapper_footer_green___3pX_p:hover {
	background-color: transparent;
	color: #84c131;
	transition: all 200ms ease-in-out
}

.newbutton-module__icon___3vCFz {
	margin-right: 10px;
	font-size: 22px;
	cursor: pointer
}

.newbutton-module__wrapper_filter___3J34T {
	min-width: 102px;
	height: 41px;
	border-radius: 24px;
	border: solid 1px #c1c1c1;
	color: #c1c1c1;
	background-color: transparent;
	padding: 0px 20px;
	margin-right: 15px;
	font-family: ClanOffc;
	font-size: 13px;
	font-weight: 500
}

.newbutton-module__wrapper_filter_active___1O93p {
	min-width: 102px;
	height: 41px;
	border-radius: 24px;
	border: solid 1px #e13b3d;
	color: #e13b3d;
	background-color: transparent;
	padding: 0px 20px;
	margin-right: 15px;
	font-family: ClanOffc;
	font-size: 13px;
	font-weight: 500
}

.limit-wrapper-module__wrapper___2PWHk {
	max-width: 1096px;
	margin: auto
}

@media (max-width: 1200px) {
	.limit-wrapper-module__wrapper___2PWHk {
		width: 90%
	}
}

@media (max-width: 1200px) {
	.limit-wrapper-module__wrapper_card_slider___2Gq56 {
		width: 97%;
		margin: 0px 0px 0px auto
	}
}

.hero-module__wrapper_home___nXcpN {
	width: 100%;
	height: 565px
}

.hero-module__text_home___29LsR {
	font-family: BreePeru;
	font-size: 52px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 50px;
	text-shadow: 2px 6px 8px black;
	cursor: default
}

.hero-module__content_home___1xcSF {
	position: absolute;
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	z-index: 2
}

.hero-module__img___w8tRx,
.hero-module__video___3fS2p,
.hero-module__img_home___3yF8_ {
	object-fit: cover;
	height: inherit;
	width: 100%;
	object-position: center
}

.hero-module__img_home___3yF8_ {
	display: none
}

.hero-module__logo___2jQpT {
	width: auto;
	margin-top: 15px
}

.hero-module__promperu___Fta0M {
	width: 130px;
	top: 0;
	left: 0;
	position: absolute;
	margin-top: 40px;
	margin-left: 50px
}

.hero-module__wrapper_single___LgcR1 {
	width: auto;
	height: 197px;
	border-radius: 4px;
	overflow: auto
}

@media (max-width: 576px) {
	.hero-module__img_home___3yF8_ {
		display: block
	}
	.hero-module__video___3fS2p {
		display: none
	}
}

.medidas-module__wrapper___2Gz6I {
	padding: 65px 0px;
	background-color: #f0b127
}

.medidas-module__title___34pV- {
	font-family: BreePeru;
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align: center;
	width: 70%;
	margin: auto
}

.medidas-module__card_container___3cQm_ {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px
}

@media (max-width: 576px) {
	.medidas-module__card_container___3cQm_ {
		max-height: 400px
	}
	.medidas-module__title___34pV- {
		font-size: 24px;
		width: auto
	}
}

.card-module__wrapper_medidas_sm___zqLZH {
	width: 220px;
	height: 339px;
	border-radius: 8px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	overflow: hidden;
	margin: 20px 10px 0px 10px
}

.card-module__head_medidas_sm___8OG15 {
	height: 129px;
	position: relative
}

.card-module__content_medidas_sm___1exdM {
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 17px
}

.card-module__img_medidas___2voKm {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: top;
	transition: width 300ms ease-in-out
}

.card-module__img_medidas___2voKm:hover {
	width: 115%;
	transition: width 300ms ease-in-out
}

.card-module__title_medidas___p8ezu {
	font-family: ClanOffc;
	font-size: 13px;
	font-weight: bold;
	color: #636363;
	line-height: 1.3
}

.card-module__date_medidas___iq1Ul {
	font-family: ClanOffcNews;
	font-size: 10px;
	font-weight: normal;
	color: #bcbbbb;
	margin-top: 7.5px
}

.card-module__description_medidas___1GcGg {
	font-family: ClanOffcNews;
	font-size: 10px;
	font-weight: normal;
	color: #636363;
	line-height: 1.3
}

.card-module__footer_medidas___b0c1v {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.card-module__button_medidas___Zmjil {
	color: #bcbbbb;
	background-color: transparent;
	width: 29px;
	height: 29px;
	border: 1px solid #bcbbbb;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px
}

.card-module__icon_medidas___36GI3 {
	font-size: 13px
}

.card-module__wrapper_medidas_lg___2VaEm {
	width: 459px;
	height: 339px;
	border-radius: 8px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	overflow: hidden;
	margin: 20px 10px 0px 10px
}

.card-module__head_medidas_lg___3m0KI {
	height: 170px;
	position: relative
}

.card-module__content_medidas_lg___Eye6B {
	height: 169px;
	padding: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.card-module__wrapper_notas_sm___3V_p6 {
	width: 273px;
	height: 267px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 10px 0px 10px;
	position: relative
}

.card-module__wrapper_notas_lg___pGkOX {
	width: 566px;
	height: 267px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 10px 0px 10px;
	position: relative
}

.card-module__title_notas_sm___1aiFn {
	font-family: ClanOffc;
	font-size: 15px;
	font-weight: bold;
	color: white;
	line-height: 1.2
}

.card-module__title_notas_lg___3drjk {
	font-family: ClanOffc;
	font-size: 15px;
	font-weight: bold;
	color: white;
	width: 69%;
	line-height: 1.2
}

.card-module__title_notas_lg_anchor___2P8eY {
	font-family: ClanOffc;
	font-size: 30px;
	font-weight: bold;
	color: white;
	width: 69%;
	line-height: 1.2
}

.card-module__content_notas___2b59_ {
	padding: 15px 20px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	box-shadow: inset 0px 1000px 1000px rgba(0, 0, 0, 0.2);
	transition: box-shadow 300ms ease-in-out
}

.card-module__content_notas___2b59_:hover {
	box-shadow: inset 0px 1000px 1000px rgba(0, 0, 0, 0.7);
	transition: box-shadow 300ms ease-in-out
}

@media (max-width: 992px) {
	.card-module__wrapper_notas_lg___pGkOX {
		height: 267px;
		width: auto
	}
	.card-module__wrapper_notas_sm___3V_p6 {
		height: 267px;
		width: auto
	}
	.card-module__wrapper_notas_sm___3V_p6,
	.card-module__wrapper_notas_lg___pGkOX {
		margin: 20px 5px 0px 5px
	}
	.card-module__title_notas_sm___1aiFn {
		font-size: 15px
	}
}

@media (max-width: 953px) and (min-width: 477px) {
	.card-module__wrapper_notas___1IOVL {
		margin: auto
	}
}

@media (max-width: 576px) {
	.card-module__wrapper_medidas_lg___2VaEm,
	.card-module__wrapper_medidas_sm___zqLZH {
		width: 220px;
		height: 339px
	}
	.card-module__head_medidas_lg___3m0KI,
	.card-module__head_medidas_sm___8OG15 {
		height: 143px;
		position: relative
	}
	.card-module__content_medidas_lg___Eye6B,
	.card-module__content_medidas_sm___1exdM {
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-between
	}
	.card-module__title_medidas___p8ezu {
		font-size: 11px
	}
	.card-module__title_notas_lg_anchor___2P8eY {
		font-size: 22px
	}
}

.chip-module__wrapper___20Fhg {
	height: 21px;
	border-radius: 2px;
	text-align: center;
	background-color: #990564;
	color: white;
	font-family: ClanOffc;
	font-size: 9px;
	font-weight: 500;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 15px;
	left: 15px;
	padding: 0px 10px
}

.share-button-module__button___2Pdl_ {
	color: #bcbbbb;
	background-color: transparent;
	width: 29px;
	height: 29px;
	border: 1px solid #bcbbbb;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px
}

.share-button-module__icon___u1aNG {
	font-size: 13px
}

.categoria-module__wrapper_circle___1Ex49 {
	width: 34px;
	height: 34px;
	background-color: #e13b3d;
	border-radius: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center
}

.categoria-module__wrapper_button___vtQ2u {
	width: 135px;
	height: 46px;
	background-color: #e13b3d;
	color: white;
	border-radius: 25px;
	font-family: ClanOffc;
	font-size: 15px;
	font-weight: 500;
	padding: 0px 10px
}

@media (max-width: 992px) {
	.categoria-module__wrapper_button___vtQ2u {
		width: 95px;
		height: 32px;
		font-size: 10px
	}
}

.notas-module__wrapper___3UhNN {
	padding: 100px 0px
}

.notas-module__title___2eEjA {
	font-family: BreePeru;
	font-size: 30px;
	font-weight: bold;
	color: #636363;
	text-align: center
}

.notas-module__subtitle___3LdxC {
	font-family: ClanOffcNews;
	font-size: 18px;
	font-weight: normal;
	color: #636363;
	text-align: center;
	margin: 15px auto 0px auto;
	width: 55%;
	line-height: 1.3
}

.notas-module__card_container___3Ingy {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 50px auto 0px auto;
	width: 90%
}

@media (max-width: 992px) {
	.notas-module__title___2eEjA {
		font-size: 24px
	}
	.notas-module__subtitle___3LdxC {
		font-size: 14px;
		width: 79%
	}
	.notas-module__wrapper___3UhNN {
		padding: 60px 0px
	}
}

@media (max-width: 992px) and (min-width: 953px) {
	.notas-module__card_container___3Ingy {
		justify-content: center
	}
}

@media (max-width: 576px) {
	.notas-module__card_container___3Ingy {
		justify-content: space-between;
		width: 95%
	}
}

.main-content-module__wrapper___av8iO {
	display: flex;
	justify-content: center;
	margin-top: 140px;
	flex-wrap: wrap
}

.main-content-module__img___2IEW4 {
	object-fit: cover;
	object-position: center;
	height: 300px;
	border-radius: 4px;
	overflow: auto;
	margin: auto;
	max-width: 697px;
	width: 100%
}

.main-content-module__img_head___1NL2G {
	object-fit: cover;
	object-position: center;
	height: 197px;
	border-radius: 4px;
	overflow: auto;
	margin: auto;
	max-width: 697px;
	width: 100%
}

.main-content-module__content___3z-5T {
	display: flex;
	justify-content: center;
	flex-direction: column
}

.main-content-module__title___3QUkw {
	font-family: BreePeru;
	font-size: 30px;
	font-weight: bold;
	color: #636363;
	margin-top: 25px;
	max-width: 697px;
	line-height: 1.2
}

.main-content-module__date___3pRzW {
	font-family: ClanOffcNews;
	font-size: 16px;
	font-weight: normal;
	color: #bcbbbb;
	margin-top: 5px;
	margin-bottom: 25px
}

.main-content-module__text___cZxQ1 {
	max-width: 697px;
	margin-bottom: 20px;
	text-align: justify;
	font-family: ClanOffcBook;
	font-size: 14px;
	font-weight: normal;
	color: #636363;
	line-height: 1.3
}

.main-content-module__tags___36K9L {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.main-content-module__hr___2hxA5 {
	border: none;
	border-bottom: solid 1px #ededed;
	margin: 15px 0px 0px 0px
}

.main-content-module__subtitle___1-Gs6 {
	font-family: ClanOffc;
	font-size: 14px;
	font-weight: bold;
	color: #636363;
	margin: 20px 0px 20px 0px
}

.main-content-module__footer___3I0EL {
	max-width: 697px;
	margin: 1em 0;
	line-height: 1.35;
	color: #636363;
	max-width: 697px;
	text-align: justify;
	font-family: ClanOffcBook;
	font-size: 14px;
	font-weight: normal
}

.main-content-module__footer___3I0EL strong {
	font-weight: bolder
}

@media (max-width: 576px) {
	.main-content-module__text___cZxQ1 {
		font-size: 12px
	}
}

.main-content-module__download___2UQcR {
	width: 180px;
	height: 43px;
	border-radius: 23px;
	background-color: #e13b3d;
	font-family: BreePeru;
	font-size: 14px;
	font-weight: 500;
	color: white;
	cursor: pointer;
	display: flex;
	border: solid 2px #e13b3d;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 200ms ease-in-out;
	align-self: center;
	margin: 15px 0px
}

.main-content-module__download___2UQcR:hover {
	background-color: transparent;
	transition: all 200ms ease-in-out;
	color: #e13b3d
}

.main-content-module__download_green___1K--D {
	width: 180px;
	height: 43px;
	border-radius: 23px;
	background-color: #84C131;
	font-family: BreePeru;
	font-size: 14px;
	font-weight: 500;
	color: white;
	cursor: pointer;
	display: flex;
	border: solid 2px #84C131;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 200ms ease-in-out;
	align-self: center;
	margin: 15px 0px;
	display: none
}

.main-content-module__download_green___1K--D:hover {
	background-color: transparent;
	transition: all 200ms ease-in-out;
	color: #84C131
}

.breadcrumbs-module__wrapper___2kmmR {
	margin-top: 30px;
	font-family: ClanOffcNews;
	font-size: 12px;
	font-weight: normal;
	color: #3ba8fc
}

.breadcrumbs-module__active___2i4ww {
	color: #636363
}

.sidebar-module__wrapper___1gF8C {
	width: 214px;
	height: 60%;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgba(219, 219, 219, 0.5);
	background-color: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 25px;
	position: -webkit-sticky;
	position: sticky;
	top: 140px
}

.sidebar-module__content___2kLTN {
	margin-top: 15px
}

.sidebar-module__note___20U60 {
	margin-bottom: 18px
}

.sidebar-module__content___2kLTN :last-child hr {
	display: none
}

.sidebar-module__heading___12qRr {
	font-family: BreePeru;
	font-size: 16px;
	font-weight: bold;
	color: #990564;
	margin-bottom: 22px
}

.sidebar-module__title___w7XI0 {
	font-family: ClanOffc;
	font-size: 12px;
	font-weight: 500;
	color: #636363
}

.sidebar-module__date___25dH3 {
	font-family: ClanOffcNews;
	font-size: 10px;
	font-weight: normal;
	color: #bcbbbb;
	margin-top: 10px
}

.sidebar-module__hr___2pBw0 {
	border: none;
	border-bottom: solid 1px #ededed;
	margin: 15px 0px 0px 0px
}

@media (max-width: 1200px) {
	.sidebar-module__wrapper___1gF8C {
		margin-right: 0px;
		margin-left: 25px;
		order: 1;
		margin-top: 60px
	}
}

@media (max-width: 576px) {
	.sidebar-module__wrapper___1gF8C {
		width: 100%;
		margin: 60px auto 0px auto
	}
}

.pagination-module__pagination___31h8i {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.pagination-module__link___19BI_ {
	display: flex
}

.pagination-module__left___LEkG6 {
	text-align: left;
	display: flex;
	cursor: pointer;
	max-width: 50%
}

.pagination-module__right___2NHpL {
	text-align: right;
	display: flex;
	cursor: pointer;
	max-width: 50%
}

.pagination-module__pag_title___1d_xT {
	font-family: ClanOffc;
	font-size: 12px;
	font-weight: 500;
	color: #8c8c8c
}

.pagination-module__pag_subtitle___359lQ {
	font-family: ClanOffc;
	font-size: 9px;
	font-weight: 500;
	color: #d5d4d4;
	margin-top: 5px
}

.pagination-module__arrow_left___2RQMG,
.pagination-module__arrow_right___18qhH {
	width: 22px;
	height: 22px;
	border-radius: 30px;
	box-shadow: 0 0 15px 1px #dbdbdb;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #990564;
	font-size: 12px;
	transition: all ease-in-out 200ms
}

.pagination-module__arrow_left___2RQMG:hover,
.pagination-module__arrow_right___18qhH:hover {
	box-shadow: 0 0 15px 5px #dbdbdb;
	transition: all ease-in-out 200ms
}

.pagination-module__arrow_left___2RQMG {
	margin-right: 8px
}

.pagination-module__arrow_right___18qhH {
	margin-left: 8px
}

@media (max-width: 576px) {
	.pagination-module__pag_title___1d_xT {
		font-size: 10px
	}
}

.paragraph-module__wrapper___37rBo {
	color: #636363;
	max-width: 697px;
	text-align: justify;
	font-family: ClanOffcBook;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.3
}

.paragraph-module__wrapper___37rBo h2 {
	font-family: ClanOffc;
	line-height: 1.3
}

.paragraph-module__wrapper___37rBo p {
	margin: 1em 0;
	line-height: 1.35
}

.paragraph-module__wrapper___37rBo em {
	font-style: italic
}

.paragraph-module__wrapper___37rBo small {
	font-size: smaller
}

.paragraph-module__wrapper___37rBo strong {
	font-weight: bolder
}

.paragraph-module__wrapper___37rBo a {
	color: #3ba8fc;
	text-decoration: underline
}

.paragraph-module__wrapper___37rBo ol {
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	margin-block-start: 1em;
	-webkit-margin-after: 1em;
	margin-block-end: 1em;
	-webkit-margin-start: 0px;
	margin-inline-start: 0px;
	-webkit-margin-end: 0px;
	margin-inline-end: 0px;
	-webkit-padding-start: 40px;
	padding-inline-start: 40px
}

.paragraph-module__wrapper___37rBo ul {
	list-style-type: disc;
	-webkit-margin-before: 1em;
	margin-block-start: 1em;
	-webkit-margin-after: 1em;
	margin-block-end: 1em;
	-webkit-margin-start: 0px;
	margin-inline-start: 0px;
	-webkit-margin-end: 0px;
	margin-inline-end: 0px;
	-webkit-padding-start: 40px;
	padding-inline-start: 40px
}

@media (max-width: 576px) {
	.paragraph-module__wrapper___37rBo ul,
	.paragraph-module__wrapper___37rBo ol {
		-webkit-padding-start: 25px;
		padding-inline-start: 25px
	}
	.paragraph-module__wrapper___37rBo {
		text-align: left
	}
}

.notas-module__wrapper___2_JJ6 {
	background-color: #fed118;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 10px 90px 10px;
	margin-top: 65px
}

.notas-module__title___3qYA4 {
	font-family: BreePeru;
	font-size: 33px;
	font-weight: bold;
	color: white;
	text-align: center
}

.notas-module__cards___2Onxm {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap
}

@media (max-width: 576px) {
	.notas-module__cards___2Onxm {
		max-height: 300px
	}
}

.main-content-module__title___1ktWV {
	font-family: BreePeru;
	font-size: 22px;
	font-weight: bold;
	color: #636363;
	text-align: center;
	max-width: 50%;
	margin: auto;
	line-height: 1.2
}

.main-content-module__wrapper___1tPQF {
	width: 100%;
	margin-top: 170px
}

.main-content-module__button___2mPzZ {
	margin: 50px auto 0px auto;
	display: flex;
	width: 85%
}

.main-content-module__wrapper_cards___1x1OI {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px auto 55px auto
}

.main-content-module__wrapper_hide___185px {
	display: none
}

.main-content-module__button_show___282y1 {
	width: 160px;
	height: 53px;
	border-radius: 24px;
	background-color: #33aba0;
	font-family: ClanOffc;
	font-size: 15px;
	font-weight: 500;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 50px;
	transition: all 200ms ease-in-out;
	border: solid 2px #33aba0
}

.main-content-module__button_show___282y1:hover {
	background-color: transparent;
	color: #33aba0;
	transition: all 200ms ease-in-out
}

@media (max-width: 1200px) {
	.main-content-module__button___2mPzZ {
		margin: 50px auto 0px auto;
		display: flex;
		width: 90%;
		justify-content: center;
		align-items: center
	}
}

@media (max-width: 992px) {
	.main-content-module__title___1ktWV {
		max-width: 85%;
		font-size: 20px
	}
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
	border-radius: 15px
}

::-webkit-scrollbar-track {
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background: rgba(52, 171, 160, 0.8)
}

html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none
}

p {
	margin: 0;
	cursor: default
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit
}

img {
	width: auto;
	display: block
}

.actividades-module__slider___3H6Zh .slick-list {
	border-radius: 12px
}

div.slick-slide.slick-active.slick-current div div.wrapper-fest-module__wrapper___k_VpD {
	opacity: 1
}

.middle-image {
	object-fit: cover;
	object-position: center;
	border-radius: 4px;
	overflow: auto;
	margin: auto;
	max-width: 697px;
	width: 100%;
	margin-bottom: 20px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

:focus {
	outline: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none
}

input[type=search] {
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: content-box
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus {
	outline: none
}

a:active,
a:hover {
	outline: 0
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

figure {
	margin: 0
}

form {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
	*margin-left: -7px
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	border: none
}

button,
input {
	line-height: normal
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible
}

button[disabled],
html input[disabled] {
	cursor: default
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

html,
button,
input,
select,
textarea {
	color: #222
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

img {
	vertical-align: middle
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0
}