
@{
    ViewBag.Title = "DestinoProvincia";
}

<section class="page__header" style="background-image: url('assets/images/rutas-cortas-5.jpg');">
    <div class="limit page__header__inset">
        <a href="destinos-interna.html" class="page__header__miga-de-pan"><img src="assets/images/flecha-volver.svg" alt=""><span>Volver a Lima</span></a>
        <h2 class="page__header__titulo">Ciudad de Chachapoyas</h2>
        <p class="page__header__resumen">De estilo colonial y rodeada de hermosas casonas con balcones, es el inicio de la aventura por Amazonas. Descubre sus grandiosos y diversos atractivos.</p>
    </div>
</section>

<main class="seccion">

    <section class="seccion destinos-nivel3__listado">
        <article class="card-info m--tipo5">
            <figure>
                <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-info__imagen" loading="lazy">
            </figure>
            <div class="card-info__contenido">
                <header class="card-info__header">
                    <h1 class="card-info__titulo">Basílica Catedral San Juan Bautista</h1>
                </header>
                <p class="card-info__resumen">Primero se llamó Iglesia Matriz San Juan de los Españoles. En 1838 adquiere el título de Catedral y, en 1925, el Papa Benedicto XV la eleva a basílica.</p>
                <a href="destinos-interna-3.html" class="card-info__leer-mas">[+] Leer más</a>
            </div>
        </article>
        <article class="card-info m--tipo5">
            <figure>
                <img src="assets/images/rutas-cortas-6.jpg" alt="" class="card-info__imagen" loading="lazy">
            </figure>
            <div class="card-info__contenido">
                <header class="card-info__header">
                    <h1 class="card-info__titulo">Basílica Catedral San Juan Bautista</h1>
                </header>
                <p class="card-info__resumen">Primero se llamó Iglesia Matriz San Juan de los Españoles. En 1838 adquiere el título de Catedral y, en 1925, el Papa Benedicto XV la eleva a basílica.</p>
                <a href="destinos-interna-3.html" class="card-info__leer-mas">[+] Leer más</a>
            </div>
        </article>
        <article class="card-info m--tipo5">
            <figure>
                <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-info__imagen" loading="lazy">
            </figure>
            <div class="card-info__contenido">
                <header class="card-info__header">
                    <h1 class="card-info__titulo">Basílica Catedral San Juan Bautista</h1>
                </header>
                <p class="card-info__resumen">Primero se llamó Iglesia Matriz San Juan de los Españoles. En 1838 adquiere el título de Catedral y, en 1925, el Papa Benedicto XV la eleva a basílica.</p>
                <a href="destinos-interna-3.html" class="card-info__leer-mas">[+] Leer más</a>
            </div>
        </article>
        <article class="card-info m--tipo5">
            <figure>
                <img src="assets/images/rutas-cortas-6.jpg" alt="" class="card-info__imagen" loading="lazy">
            </figure>
            <div class="card-info__contenido">
                <header class="card-info__header">
                    <h1 class="card-info__titulo">Basílica Catedral San Juan Bautista</h1>
                </header>
                <p class="card-info__resumen">Primero se llamó Iglesia Matriz San Juan de los Españoles. En 1838 adquiere el título de Catedral y, en 1925, el Papa Benedicto XV la eleva a basílica.</p>
                <a href="destinos-interna-3.html" class="card-info__leer-mas">[+] Leer más</a>
            </div>
        </article>
        <div class="boton-contenedor">
            <div class="boton m--amarillo m--grande"><strong>Ver más</strong></div>
        </div>
    </section>

    <section class="seccion m--slider-standard m--transporte">
        <div class="limit">
            <h3 class="seccion__titulo">¿No sabes como llegar? Mira las siguientes opciones de transporte disponibles</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-transporte">
                            <header class="card-transporte__header">
                                <figure class="card-transporte__imagen">
                                    <img src="assets/images/avion-svg.svg" alt="" />
                                </figure>
                                <strong class="card-transporte__titulo">Avión</strong>
                            </header>
                            <dl class="card-transporte__lista">
                                <dt>Duración:</dt>
                                <dd>2hrs</dd>
                                <dt>Aerolíneas:</dt>
                                <dd><a href="#">Latam</a>, <a href="#">Viva Air</a>, <a href="#">JetSmart</a>.</dd>
                            </dl>
                            <span class="card-transporte__recomendado">Recomendado</span>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-transporte">
                            <header class="card-transporte__header">
                                <figure class="card-transporte__imagen">
                                    <img src="assets/images/bus-svg.svg" alt="" />
                                </figure>
                                <strong class="card-transporte__titulo m--morado">Bus Interprovincial</strong>
                            </header>
                            <dl class="card-transporte__lista">
                                <dt>Duración:</dt>
                                <dd>16hrs - 18hrs</dd>
                                <dt>Aerolíneas:</dt>
                                <dd><a href="#">Oltursa</a>, <a href="#">Cruz del Sur</a>, <a href="#">Móvil Bus</a>.</dd>
                            </dl>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-transporte">
                            <header class="card-transporte__header">
                                <figure class="card-transporte__imagen">
                                    <img src="assets/images/auto-svg.svg" alt="" />
                                </figure>
                                <strong class="card-transporte__titulo m--azul">Auto particular</strong>
                            </header>
                            <dl class="card-transporte__lista">
                                <dt>Distacia:</dt>
                                <dd>350km aprox.</dd>
                                <dt>Duración:</dt>
                                <dd>16hrs - 18hrs</dd>
                            </dl>
                            <a href="#" class="card-transporte__enlace-inferior">Abrir ruta en Waze</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-transporte">
                            <header class="card-transporte__header">
                                <figure class="card-transporte__imagen">
                                    <img src="assets/images/tren-svg.svg" alt="" />
                                </figure>
                                <strong class="card-transporte__titulo m--verdehoja">Tren</strong>
                            </header>
                            <dl class="card-transporte__lista">
                                <dt>Duración:</dt>
                                <dd>14hrs</dd>
                                <dt>Aerolíneas:</dt>
                                <dd><a href="#">Lima Rail</a>.</dd>
                            </dl>
                        </article>
                    </div>
                </div>
            </div>
            <p class="seccion__texto-inferior">
                <strong>Ten en cuenta:</strong> Los precios suelen variar en días festivos. Precio por persona. Duración apróximada, puede variar por factores externos.
            </p>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">
                ¿Ya visitaste este destino anteriormente?
                <a href="" title="" class="boton m--grande m--padding-pequeno m--morado m--camara"><strong><i class="fa fa-camera" aria-hidden="true"></i> Comparte tu experiencia</strong></a>
            </h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo6">
                            <header class="card-info__header">
                                <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-info__imagen">
                                <strong class="card-info__nombre">Jessy Vizcarra</strong>
                            </header>
                            <div class="card-info__estrellas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="card-info__resumen">“La ciudad más bella que he vistado hasta ahora. Lo recomiendo muchísimo, sobre todo en verano para unas buenas vacaciones”</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo6">
                            <header class="card-info__header">
                                <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-info__imagen">
                                <strong class="card-info__nombre">Jessy Vizcarra</strong>
                            </header>
                            <div class="card-info__estrellas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="card-info__resumen">“La ciudad más bella que he vistado hasta ahora. Lo recomiendo muchísimo, sobre todo en verano para unas buenas vacaciones”</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo6">
                            <header class="card-info__header">
                                <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-info__imagen">
                                <strong class="card-info__nombre">Jessy Vizcarra</strong>
                            </header>
                            <div class="card-info__estrellas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="card-info__resumen">“La ciudad más bella que he vistado hasta ahora. Lo recomiendo muchísimo, sobre todo en verano para unas buenas vacaciones”</p>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo6">
                            <header class="card-info__header">
                                <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-info__imagen">
                                <strong class="card-info__nombre">Jessy Vizcarra</strong>
                            </header>
                            <div class="card-info__estrellas">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <p class="card-info__resumen">“La ciudad más bella que he vistado hasta ahora. Lo recomiendo muchísimo, sobre todo en verano para unas buenas vacaciones”</p>
                        </article>
                    </div>
                </div>
            </div>
            <strong class="seccion__recomendarias">
                ¿Recomendarías este destino?
                <div class="card-info__estrellas">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </strong>
        </div>
    </section>

</main>
