
@{
    ViewBag.Title = "DetalleDestino";
}

<section class="page__header m--destinos-nivel-4" style="background-image: url('assets/images/rutas-cortas-1.jpg');">
    <div class="limit page__header__inset">
        <a href="destinos-interna-2.html" class="page__header__miga-de-pan"><img src="assets/images/flecha-volver.svg" alt=""><span>Volver a Chachapoyas</span></a>
        <h2 class="page__header__titulo">Basílica Catedral San Juan Bautista</h2>
        <p class="page__header__resumen">Primero se llamó Iglesia Matriz San Juan de los Españoles. En 1838 adquiere el título de Catedral y, en 1925, el Papa Benedicto XV la eleva a basílica.</p>
    </div>
</section>

<main class="seccion m--no-top">

    <section class="seccion">
        <div class="limit">
            <article class="destinos__detalle">
                <p>En la región de Puno no solo puedes visitar las islas del lago Titicaca, Chucuito es otra experiencia turística que te está esperando, una ciudad con fervor religioso y bellas iglesias coloniales.</p>
                <p>Octubre es el mes ideal para que conozcas Chucuito, a tan solo 20 minutos desde la capital puneña. Allí se celebra la festividad de la Virgen del Rosario con corridas de toros, danzas y una procesión que se inicia en el Templo de Santo Domingo, el más antiguo del Altiplano. También date una vuelta por el Templo de Nuestra Señora de la Asunción, el más llamativo de la zona por su arquitectura de columnas y arcos según algunos investigadores.</p>
                <p>Conoce un poco más de Chucuito con el siguiente mapa:</p>
                <div class="destinos__detalle__slider">
                    <div class="swiper-container fnSliderDestinosDetalle">
                        <div class="swiper-wrapper">
                            <figure class="swiper-slide"><img src="assets/images/rutas-cortas-9.jpg" alt="" /></figure>
                            <figure class="swiper-slide"><img src="assets/images/rutas-cortas-3.jpg" alt="" /></figure>
                            <figure class="swiper-slide"><img src="assets/images/rutas-cortas-7.jpg" alt="" /></figure>
                        </div>
                    </div>
                    <div class="swiper-pagination destinos__detalle__slider__pagination"></div>
                    <div class="destinos__detalle__slider__flecha m--left fnSliderDestinosDetalle__left"></div>
                    <div class="destinos__detalle__slider__flecha m--right fnSliderDestinosDetalle__right"></div>
                </div>
                <p>Del ambiente colonial puedes pasar a lo ancestral si visitas el Sitio Arqueológico Inca Uyo, un templo ceremonial rectangular construido con muros de piedra en tiempos prehispánicos, donde se anunciaban los solsticios y equinoccios.</p>
                <p>Lo religioso y cultural te cautivará en Chucuito; pero, no es lo único, su gastronomía es una delicia sobre todo si pruebas la trucha frita, el plato más rico según los visitantes quienes pueden presenciar el proceso de crecimiento y crianza de estos peces en la Piscicultura ubicada a pocas cuadras de la plaza principal.</p>
                <aside class="destinos__detalle__tags">
                    <strong>Tag 1</strong>
                    <strong>Tag 2</strong>
                    <strong>Tag 3</strong>
                    <strong>Tag 4</strong>
                </aside>
            </article>
            <div class="destinos__detalle__footer">
                <strong class="destinos__detalle__me-gusta">
                    <span>
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </span>
                    120
                </strong>
                <a href="#" class="destinos__detalle__redes m--facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" class="destinos__detalle__redes m--twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" class="destinos__detalle__redes m--wsp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Recomendaciones</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-8.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="#" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-9.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="#" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-10.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="#" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-info m--tipo2">
                            <img src="assets/images/rutas-cortas-3.jpg" alt="" class="card-info__imagen">
                            <header class="card-info__header">
                                <address class="card-info__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Moquegua</address>
                                <aside class="corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                                <h1 class="card-info__titulo">Trekking en z - El Baúl de Antonia</h1>
                            </header>
                            <a href="#" class="card-info__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard m--tipo2">
        <div class="limit">
            <h3 class="seccion__titulo">Te puede interesar</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo2">
                            <img src="assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                            <strong class="card-poster__precio">
                                S/ 99
                                <span class="card-poster__precio-anterior">Antes S/ 130</span>
                            </strong>
                            <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                            <header class="card-poster__header">
                                <span class="card-poster__compra">Compra online</span>
                                <strong class="card-poster__subtitulo">Full Day</strong>
                                <h1 class="card-poster__titulo">TINGO MARÍA Y SU PARAÍSO MÍSTICO</h1>
                            </header>
                            <a href="#" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo2">
                            <img src="assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                            <strong class="card-poster__precio">
                                S/ 99
                                <span class="card-poster__precio-anterior">Antes S/ 130</span>
                            </strong>
                            <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                            <header class="card-poster__header">
                                <span class="card-poster__compra">Compra online</span>
                                <strong class="card-poster__subtitulo">Full Day</strong>
                                <h1 class="card-poster__titulo">TINGO MARÍA Y SU PARAÍSO MÍSTICO</h1>
                            </header>
                            <a href="#" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo2">
                            <img src="assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                            <strong class="card-poster__precio">
                                S/ 99
                                <span class="card-poster__precio-anterior">Antes S/ 130</span>
                            </strong>
                            <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                            <header class="card-poster__header">
                                <span class="card-poster__compra">Compra online</span>
                                <strong class="card-poster__subtitulo">Full Day</strong>
                                <h1 class="card-poster__titulo">TINGO MARÍA Y SU PARAÍSO MÍSTICO</h1>
                            </header>
                            <a href="#" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo2">
                            <img src="assets/images/rutas-cortas-3.jpg" alt="" class="card-poster__imagen">
                            <strong class="card-poster__precio">
                                S/ 99
                                <span class="card-poster__precio-anterior">Antes S/ 130</span>
                            </strong>
                            <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                            <header class="card-poster__header">
                                <span class="card-poster__compra">Compra online</span>
                                <strong class="card-poster__subtitulo">Full Day</strong>
                                <h1 class="card-poster__titulo">TINGO MARÍA Y SU PARAÍSO MÍSTICO</h1>
                            </header>
                            <a href="#" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo2">
                            <img src="assets/images/rutas-cortas-4.jpg" alt="" class="card-poster__imagen">
                            <strong class="card-poster__precio">
                                S/ 99
                                <span class="card-poster__precio-anterior">Antes S/ 130</span>
                            </strong>
                            <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                            <header class="card-poster__header">
                                <span class="card-poster__compra">Compra online</span>
                                <strong class="card-poster__subtitulo">Full Day</strong>
                                <h1 class="card-poster__titulo">TINGO MARÍA Y SU PARAÍSO MÍSTICO</h1>
                            </header>
                            <a href="#" class="card-poster__mas-informacion">Más información</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>