
@{
    ViewBag.Title = "Rutas";
}

<section class="page__header" style="background-image: url('assets/images/rutas-cortas-4.jpg');">
    <div class="limit page__header__inset">
        <a href="#" class="page__header__miga-de-pan"><img src="assets/images/flecha-volver.svg" alt=""><span>Volver a inicio</span></a>
        <h2 class="page__header__titulo">Rutas Cortas</h2>
    </div>
</section>

<main class="seccion">

    <section class="seccion m--grilla-poster">
        <div class="limit">
            <div class="rutas-cortas__buscador" data-target="#fnTargetFiltroGrilla">
                <h2 class="rutas-cortas__buscador__titulo">¡Que empiece la aventura!</h2>
                <p class="rutas-cortas__buscador__resumen">La Guía de Rutas Cortas es el primer paso para descubrir los lugares más hermosos de las 25 regiones del Perú. En esta sección encontrarás información que iremos compartiendo progresivamente para que disfrutes tu próximo viaje de forma segura y responsable, muy cerca de ti.</p>
                <form class="rutas-cortas__buscador__form">
                    <input type="text" class="rutas-cortas__buscador__form__input">
                    <button type="submit" class="rutas-cortas__buscador__form__boton">Enviar</button>
                    <img src="assets/images/lupa-negra.svg" alt="" width="20" class="rutas-cortas__buscador__form__lupa">
                </form>
            </div>
            <div id="fnTargetFiltroGrilla" class="seccion__grilla -mostrar-todos- -mas-8-">
                <div class="seccion__grilla__bloques">
                    <article class="card-poster m--tipo4" data-filtro="Arequipa">
                        <img src="assets/images/rutas-cortas-2.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>0</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Arequipa</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Lima">
                        <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>1</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Lima</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Arequipa">
                        <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>2</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Arequipa</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Apurimac">
                        <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>3</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Apurimac</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Arequipa">
                        <img src="assets/images/rutas-cortas-2.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>4</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Arequipa</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Lima">
                        <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>5</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Lima</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Lima">
                        <img src="assets/images/rutas-cortas-1.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>6</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Lima</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Arequipa">
                        <img src="assets/images/rutas-cortas-6.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>7</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Arequipa</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Arequipa">
                        <img src="assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>8</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Arequipa</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Lima">
                        <img src="assets/images/rutas-cortas-4.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>9</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Lima</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Ancash">
                        <img src="assets/images/rutas-cortas-7.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>10</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Ancash</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                    <article class="card-poster m--tipo4" data-filtro="Ayacucho">
                        <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-poster__imagen">
                        <aside class="corazon m--blanco card-poster__corazon"><i class="fa fa-heart" aria-hidden="true"></i>11</aside>
                        <header class="card-poster__header">
                            <h1 class="card-poster__titulo">Ayacucho</h1>
                        </header>
                        <a href="rutas-cortas-interna.html" class="card-poster__mas-informacion">Más información</a>
                    </article>
                </div>
                <div class="boton-contenedor">
                    <div class="boton m--amarillo m--grande fnFiltrarGrillaTodo" data-target="#fnTargetFiltroGrilla"><strong>Ver más</strong></div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccion m--slider-standard">
        <div class="limit">
            <h3 class="seccion__titulo">Mira las rutas destacadas del mes</h3>
            <div class="swiper-container seccion__slider fnSliderFree">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="assets/images/rutas-cortas-5.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 3 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="assets/images/rutas-cortas-10.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 6 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="assets/images/rutas-cortas-3.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 9 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                    <div class="swiper-slide">
                        <article class="card-poster m--tipo5">
                            <img src="assets/images/rutas-cortas-9.jpg" alt="" class="card-poster__imagen">
                            <aside class="corazon m--blanco card-poster__ubicacion"><i class="fa fa-map-marker" aria-hidden="true"></i>Lima</aside>
                            <header class="card-poster__header">
                                <h1 class="card-poster__titulo">Barranca <br>Ciudad Sagrada Caral</h1>
                                <a href="#" class="boton m--morado m--pequeno m--148" style="margin: auto;"><strong>Ver 12 lugares</strong></a>
                            </header>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>


