
@{
    ViewBag.Title = "Mapa";
    ViewBag.pageMapa = true;
}

<div class="page-loader">
    <div class="page-loader-spinner">
        <div class="page-loader-spinner-bounce1"></div>
        <div class="page-loader-spinner-bounce2"></div>
    </div>
</div>
<div class="wrapper">
    <div class="wrapper-navbar"></div>
    <div class="wrapper-first">
        <div class="wrapper-first-container">
            <div class="wrapper-first-left">
                <div class="wrapper-first-left-map" id="wfl-map"></div>
            </div>
            <div class="wrapper-first-right">
                <div class="wrapper-first-right-container">
                    <div class="wrapper-first-right-content">
                        <div class="wrapper-first-right-header"></div>
                        <div class="wrapper-first-right-body"></div>
                        <div class="wrapper-first-right-deals" style="display:none;"></div>
                        <div class="wrapper-first-right-footer">
                            <footer class="footer m--mapa">
                                <div class="limit footer__contenido">
                                    <div class="footer__bloque m--enlaces">
                                        <div class="footer__titulo">Información para tu viaje</div>
                                        <ul class="footer__lista">
                                            <li><a href="https://www.ytuqueplanes.com/pdf/feriados_2020.pdf" target="_blank" class="footer__lista__enlace">Lista de Feriados 2020</a></li>
                                            <li><a href="https://www.gob.pe/senamhi" target="_blank" class="footer__lista__enlace">Clima y Pronóstico del Tiempo</a></li>
                                            <li><a href="https://www.sernanp.gob.pe/" target="_blank" class="footer__lista__enlace">Áreas Naturales Protegidas</a></li>
                                        </ul>
                                    </div>
                                    <div class="footer__bloque m--botones">
                                        <div class="footer__titulo">Asistencia al viajero 24 horas</div>
                                        <a href="https://api.whatsapp.com/send?phone=051944492314&text=&source=&data=&app_absent=" class="boton m--mediano m--235 m--wsp"><strong><i class="fa fa-whatsapp" aria-hidden="true"></i>944492314</strong></a>
                                        <img src="/assets/images/i-peru-gris.png" alt="" class="footer__peru">
                                        <div class="footer__titulo m--top">Recibe nuevas ofertas y novedades</div>
                                        <a href="/suscribete" target="_blank" class="boton m--mediano m--235 m--morado"><strong>Suscribirme</strong></a>
                                    </div>
                                    <div class="footer__bloque m--redes">
                                        <div class="footer__titulo">Síguenos</div>
                                        <div class="footer__redes-wrap">
                                            <div class="footer__redes">
                                                <a href="https://www.facebook.com/ytuqueplanes/" target="_blank" class="footer__redes__enlace m--facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="https://twitter.com/conoceelperu" target="_blank" class="footer__redes__enlace m--twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                <a href="https://www.instagram.com/ytuqueplanes/" target="_blank" class="footer__redes__enlace m--instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                                <a href="https://www.youtube.com/visitperu" target="_blank" class="footer__redes__enlace m--youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                                <a href="https://open.spotify.com/playlist/7pTRlBhxN2YhkEqtwu0T4k" target="_blank" class="footer__redes__enlace m--spotify"><i class="fa fa-spotify" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="footer__logos">
                                                <img src="/assets/images/promperu.png" alt="" width="66" height="29" />
                                                <img src="/assets/images/logo-ministerio.png" alt="" width="152" height="31">
                                                <div class="footer__logos__separador"></div>
                                                <img src="/assets/images/perumarca.png" alt="" width="44" height="29">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="footer__separador">
                                <div class="limit footer__inferior">
                                    <ul class="footer__inferior__lista">
                                        <li><a href="https://www.ytuqueplanes.com/sitemap" target="_blank" class="footer__inferior__enlace">Mapa de sitio</a></li>
                                        <li><a href="#" class="footer__inferior__enlace fnToggleClass" data-targets="#aviso-legal">Aviso legal</a></li>
                                        <li><a href="https://www.ytuqueplanes.com/terminos-condiciones.aspx" target="_blank" class="footer__inferior__enlace">Términos y Condiciones</a></li>
                                    </ul>
                                    <p class="footer__inferior__copyright">Todos los derechos reservados, <span>ytuqueplanes 2020</span></p>
                                </div>
                            </footer>
                            <div id="aviso-legal" class="box">
                                <div class="box__inset">
                                    <span class="bg-cerrar fnToggleClass" data-removes="#aviso-legal"></span>
                                    <div class="box__contenido">
                                        <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
                                        <h6 class="box__titulo">Ahora te vas de ytuqueplanes.com</h6>
                                        <p>
                                            ytuqueplanes no controla ni es responsable de la disponibilidad o el contenido de sitios web de terceros vinculados.
                                        </p>
                                        <p>
                                            Tenga en cuenta que su uso del sitio web vinculado de dicho tercero está sujeto a su política de privacidad y términos de uso, que pueden diferir de los de ytuqueplanes.
                                        </p>
                                        <p>
                                            Como tal, le recomendamos que lea detenidamente la política de <a href="">privacidad y los términos</a> de uso del tercero.
                                        </p>
                                        <div class="boton-contenedor">
                                            <a href="#" class="boton m--verde m--grande"><strong>Continuar</strong></a>
                                        </div>
                                        <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#aviso-legal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="datos-utiles"></div>
</div>

<div id="aviso-legal" class="box">
            <div class="box__inset">
                <span class="bg-cerrar fnToggleClass" data-removes="#aviso-legal"></span>
                <div class="box__contenido">
                    <img src="/assets/images/y-tu-que-planes-gris.svg" alt="" class="box__logo">
                    <h6 class="box__titulo">Ahora te vas de ytuqueplanes.com</h6>
                    <p>
                        ytuqueplanes no controla ni es responsable de la disponibilidad o el contenido de sitios web de terceros vinculados.
                    </p>
                    <p>
                        Tenga en cuenta que su uso del sitio web vinculado de dicho tercero está sujeto a su política de privacidad y términos de uso, que pueden diferir de los de ytuqueplanes.
                    </p>
                    <p>
                        Como tal, le recomendamos que lea detenidamente la política de <a href="">privacidad y los términos</a> de uso del tercero.
                    </p>
                    <div class="boton-contenedor">
                        <a href="#" class="boton m--verde m--grande"><strong>Continuar</strong></a>
                    </div>
                    <img src="/assets/images/box-cerrar.svg" alt="" class="box__cerrar fnToggleClass" data-removes="#aviso-legal" />
                </div>
            </div>
        </div>

<script>
    const slugRegion = "@ViewBag.slugProvincia";
    const slugRuta = "@ViewBag.nombreRuta";
    const nombreProvincia = "@ViewBag.nombreProvincia";
    const urlOfertas = "https://ytuqueplanes-9c1b7.web.app/";
</script>