
@{
    ViewBag.Title = "Mapa";
}
<link type="text/css" rel="stylesheet" href="/assets/css/mapa/mapa.css" />
<div class="page-loader">
    <div class="page-loader-spinner">
        <div class="page-loader-spinner-bounce1"></div>
        <div class="page-loader-spinner-bounce2"></div>
    </div>
</div>
<div class="wrapper">
    <div class="wrapper-navbar"></div>
    <div class="wrapper-first">
        <div class="wrapper-first-container">
            <div class="wrapper-first-left">
                <div class="wrapper-first-left-map" id="wfl-map"></div>
            </div>
            <div class="wrapper-first-right">
                <div class="wrapper-first-right-container">
                    <div class="wrapper-first-right-content">
                        <div class="wrapper-first-right-header"></div>
                        <div class="wrapper-first-right-body"></div>
                        <div class="wrapper-first-right-deals"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="datos-utiles"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script type="text/javascript" src="/assets/js/mapa/mapa.js?v=3"></script>
